{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
{# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
{# Any extra JS for your page #}
{% endblock %}

{% block title %}
- Help
{% endblock %}

{% block content %}
    <h1>Guide du joueur</h1>

    {# TABLE OF CONTENT #}
    <div id="helpBook">
        <ul>
            <li><a href="#beginning">Principe de départ</a></li>
            <li><a href="#cards">Les cartes</a></li>
            <li><a href="#defi">Les Défis</a>
                <ul class="sousList">
                    <li><a href="#chooseOpponent">Choisir son adversaire</a></li>
                    <li><a href="#attack">Préparer le combat</a></li>
                    <li><a href="#howToWin">Déroulement d'un défi</a></li>
                    <li><a href="#principles">Principes de jeu</a></li>
                    <li><a href="#turn">Tour d'un joueur</a></li>
                    <li><a href="#DinozFight">Combat de Dinoz</a></li>
                    <li><a href="#gameover">Fin de la partie</a></li>
                    <li><a href="#experience">Gagner de l'expérience</a></li>
                </ul>
            </li>
            <li><a href="#collection">Votre collection</a>
                <ul class="sousList">
                    <li><a href="#newCards">Obtenir de nouvelles cartes</a></li>
                    <li><a href="#capacities">Capacités diverses</a></li>
                </ul>
            </li>
            <li><a href="#pack">Construire un pack</a></li>
            <li><a href="#comps">Compétences</a>
                <ul class="sousList">
                    <li><a href="#playMore">Parties quotidiennes</a></li>
                    <li><a href="#life">Points de vie</a></li>
                    <li><a href="#bonusCards">Cartes bonus</a></li>
                    <li><a href="#strategy">Stratégie</a></li>
                    <li><a href="#sight">Perception</a></li>
                </ul>
            </li>
            <li><a href="#score">Le classement</a></li>
            <li><a href="#msgs">Contacter les autres joueurs</a></li>
            <li><a href="#friends">Liste d'amis</a></li>
            <li><a href="#wanted">Cartes recherchées</a></li>
            <li><a href="#exchanges">Les échanges</a></li>
            <ul class="sousList">
                <li><a href="#exchangeList">Ma liste de cartes à l'échange</a></li>
                <li><a href="#newExchange">Proposer un échange à un joueur</a></li>
                <li><a href="#exchangeFight">L'art de se mettre d'accord... ou pas</a></li>
            </ul>
            <li><a href="#faq">Questions souvent posées</a></li>
        </ul>
    </div>

    <div class="helpMe">
        <h2><a id="beginning"></a>Principe de départ</h2>

        <p class="txt">
            Dans Dinocard, deux joueurs s'affrontent avec chacun un paquet - ou <i>pack</i> - de cartes à collectionner. Chaque carte a un effet différent sur le jeu, certaines sont des créatures qui combattront pour vous,
            d'autres des sorts qui atteignent directement votre adversaire.
        </p>
        <p class="txt">
            Le gagnant d'un défi est le premier joueur qui fait baisser <b>le nombre de points de vie de son adversaire à zéro</b> à la fin d'une phase de jeu.
            Si les deux joueurs n'ont plus de points de vie, la partie est nulle et une nouvelle manche est jouée pour les départager.
        </p>

        <h2><a id="cards"></a>Les cartes</h2>

        <div class="card_thunder">
            <div class="cardTop">
                <div class="cardName">Chasseur de nuage</div>
            </div>
            <img class="cardImg" alt="" src="{{ asset('img/gfx/card/artwork/255.jpg') }}">

            <div class="mana">
                <img alt="rien" src="{{ asset('img/gfx/icons/energy_neutral.gif') }}">
                <img alt="foudre" src="{{ asset('img/gfx/icons/energy_thunder.gif') }}">
            </div>
            <div class="cardBody">
                <div class="cardTxt">
                    <p>
                        <span class="capacities"
                              onmouseover="showTip(this, 'Vol', 'Le dinoz attaque directement le joueur adverse si son adversaire ne vole pas. Il reçoit par contre des dégats de son adversaire normalement. ');"
                              onmouseout="hideTip()">
                            <b>Vol</b>
                        </span>
                    </p>
                    <p>+1/+2 Pour chaque dinoz vaporeux en jeu.</p>
                </div>
                <div class="cardFlavor">
                    <p>Profilé pour la course, ce redoutable traqueur évolue au milieu des cumulus et autres nimbus.</p>
                </div>
                <div class="CardType">
                    3
                </div>
                <div class="cardDef">
                    2
                </div>
                <div class="cardAtk">
                    2
                </div>
            </div>
        </div>

        <div class="card_spell_fire">
            <div class="cardTop">
                <div class="cardName">Fosselave</div>
            </div>
            <img class="cardImg" alt="" src="{{ asset('img/gfx/card/artwork/202.jpg') }}">

            <div class="mana">
                <img alt="rien" src="{{ asset('img/gfx/icons/energy_neutral.gif') }}">
                <img alt="rien" src="{{ asset('img/gfx/icons/energy_neutral.gif') }}">
                <img alt="rien" src="{{ asset('img/gfx/icons/energy_fire.gif') }}">
            </div>
            <div class="cardBody">

                <div class="cardTxt">
                    <p></p>
                    <p>Chaque fois qu'un dinoz adverse non volant attaque, il reçoit 1 point de dégât.</p>
                </div>
                <div class="cardFlavor">
                </div>
                <div class="CardType">
                    <img class="icon" alt="icon object" src="{{ asset('img/gfx/icons/icon_small_object.gif') }}">
                </div>
                <div class="cardDef">
                </div>
                <div class="cardAtk">
                </div>
            </div>

        </div>

        {{ include('Card/card.html.twig', { 'card': cardFactory.loadCard(134), 'showCard': true, 'showRarity': true }) }}

        {{ include('Card/card.html.twig', { 'card': cardFactory.loadCard(233), 'showCard': true, 'showRarity': true }) }}

        </div>

        <br>
        <p class="txt">En plus de son illustration, chaque carte possède plusieurs caractéristiques qui définissent son effet sur le jeu. Ces informations sont :

        </p><ul>
            <li><b>Elément : </b> Chaque carte appartient à l'un des cinq grands éléments majeurs :
                <ul>
                    <li><i>
                            <img class="icon" alt="icon fire" src="{{ asset('img/gfx/icons/element_fire.gif') }}">
                            le Feu : </i> Le feu est fort contre le bois et l'eau. Les cartes Feu sont rouges.
                    </li>
                    <li><i>
                            <img class="icon" alt="icon wood" src="{{ asset('img/gfx/icons/element_wood.gif') }}">
                            le Bois : </i> Le bois est fort contre l'eau et la foudre. Les cartes Bois sont reconnaissables à leur couleur marron.
                    </li>
                    <li><i>
                            <img class="icon" alt="icon water" src="{{ asset('img/gfx/icons/element_water.gif') }}">
                            l'Eau : </i> L'eau est forte contre la foudre et le ciel. Les cartes Eau sont bleues.
                    </li>
                    <li><i>
                            <img class="icon" alt="icon thunder" src="{{ asset('img/gfx/icons/element_thunder.gif') }}">
                            la Foudre : </i> La foudre est forte contre le feu et le ciel. Les cartes Foudre possèdent un fond jaune.

                    </li>
                    <li><i>
                            <img class="icon" alt="icon sky" src="{{ asset('img/gfx/icons/element_air.gif') }}">
                            le Ciel : </i> Le ciel est fort contre le bois et le feu. Les cartes Ciel sont blanches.

                    </li>
                </ul>
            </li>

            <li><b>Type : </b> Il existe quatre types de cartes différents, qui changent la manière dont est jouée la carte pendant une partie.
                <ul>
                    <li><i>
                            <img class="icon" alt="icon dinoz" src="{{ asset('img/gfx/icons/icon_dinoz.gif') }}">
                            Dinoz : </i> Il s'agit des différentes créatures capables de combattre pour vous pendant une partie. Les cartes Dinoz se distinguent par un nombre dans leur cadre jaune. Un Dinoz est posé en jeu face cachée, en tant
                        qu'"oeuf". Il éclôt et devient un Dinoz prêt à combattre après un nombre de tours égal au nombre dans le cadre jaune, qui est son temps d'éclosion.
                    </li>
                    <li><i>
                            <img class="icon" alt="icon object" src="{{ asset('img/gfx/icons/icon_object.gif') }}">
                            Objet Magique : </i> Les objets magiques sont des objets que vous pouvez poser en jeu, et qui ont un effet permanent sur la partie tant qu'ils sont présents. Les objets magiques
                        sont représentés par une coupe argentée.
                    </li>
                    <li><i>
                            <img class="icon" alt="icon spell" src="{{ asset('img/gfx/icons/icon_spell.gif') }}">
                            Incantation : </i> Ce sont les sorts à effet immédiat. Lorsque vous piochez une incantation et possédez suffisamment d'énergie pour la jouer, l'incantation applique son effet sur le jeu
                        avant d'être placée dans votre cimetière (la défausse des cartes). Les incantations se reconnaissent à leur icône de canne magique.
                    </li>
                    <li><i>
                            <img class="icon" alt="icon charm" src="{{ asset('img/gfx/icons/icon_charm.gif') }}">
                            Enchantement : </i> Les enchantements sont des cartes qui se placent sur un Dinoz déjà en jeu. La plupart du temps, un enchantement va
                        donner des bonus à ce Dinoz, comme davantage de force ou des capacités supplémentaires. Un Enchantement peut cibler des Dinoz ou des oeufs non éclos. Il se distingue par son icône d'étoile.
                    </li>
                </ul>
            </li>
            <li><b>Coût : </b> Le coût est représenté par les billes visibles en bas à droite du dessin de la carte. Le coût indique le nombre d'énergies que le joueur doit avoir en jeu pour pouvoir jouer la carte.
                La couleur de chaque bille indique le type d'énergie. Les billes grises représentent une énergie de couleur quelconque. <br>
                Par exemple, la carte Fosselave a un coût d'une bille rouge et de deux billes grises. Cela signifie qu'un joueur doit posséder 3 énergies dans sa réserve, dont une de feu (rouge), pour réussir à poser une fosselave.
            </li>

            <li><b>Nom : </b> </li> Tout simplement le nom de la carte. Situé dans le coin supérieur gauche.

            <li><b>Force / Endurance : </b> </li> Seuls les Dinoz possèdent une force et une endurance. La force est indiquée dans le cadre rouge en bas à gauche, et l'endurance dans le cadre bleu. La force indique
            le nombre de blessures que le Dinoz inflige lorsqu'il attaque, son endurance est le nombre de blessures nécessaires pour qu'il succombe.

            <li><b>Texte : </b> </li> Le texte dans la moitié inférieure de la carte indique les noms des capacités spéciales de la carte (notées <b>en gras</b>), des effets supplémentaires expliqués
            en entier, et éventuellement un texte d'ambiance, écrit <i>en italique</i>, qui sert surtout à faire joli :)

            <li><b>Rareté : </b> </li> Il existe trois niveaux de rareté : commune, normale et rare. La rareté n'est pas spécifiée directement sur les cartes, mais est indiquée par un diamant de couleur dans les
            listes de cartes du site. Ainsi, les cartes communes ont un diamant vert
            <img class="icon" alt="icon common" src="{{ asset('img/gfx/icons/icon_common.gif') }}">
            , les cartes de rareté normale un diamant bleu
            <img class="icon" alt="icon uncommon" src="{{ asset('img/gfx/icons/icon_uncommon.gif') }}">
            , et les cartes rares un diamant rouge
            <img class="icon" alt="icon rare" src="{{ asset('img/gfx/icons/icon_rare.gif') }}">
            .
            Chaque recharge de 8 cartes contient 1 carte rare, 2 cartes normales
            et 5 communes.
        </ul>
        <p></p>

        <h2><a id="defi"></a>Les Défis</h2>
        <p class="txt">
            Un Défi est l'affrontement de deux paquets de cartes <i>- appelés packs -</i>  de joueurs. Chaque joueur commence avec un certain nombre de points de vie.
            Le but est d'être le premier à amener les points de vie de l'adversaire à 0.
        </p>

        <h3><a id="chooseOpponent"></a>Choisir son adversaire</h3>
        <p class="txt">
            Votre pack est accessible à partir du menu en haut à gauche. Chaque pack peut faire au minimum 2 défis par jour.
        </p>

        <p class="txt">
            Le bouton <a class="button">Dojo</a> vous amène dans la salle des Grands Maîtres. Vous pouvez alors vous déplacer de case en case pour aller défier un maître.
            Il va peut être radoter un peu, mais finira par vous combattre pour tester votre valeur. Si vous gagnez, le Grand Maître vaincu vous offre <b>une carte</b> en récompense avant
            de disparaître.
        </p>

        <p class="txt">
            Si vous avez déjà vaincu 10 maîtres du Dojo, vous pouvez choisir de faire combattre votre pack dans l'Arène, en défiant les autres joueurs. Cliquez sur
            le bouton <a class="button">Arène</a>, vous aurez accès à une liste de packs adverses à défier. Choisissez un adversaire en fonction de ses <a href="#strategy">informations affichées</a> et cliquez sur <a class="button">Attaquer</a> pour initier un Défi
            entre vos deux packs. Si vous remportez le combat, votre pack gagnera de l'expérience !.
        </p>

        <h3><a id="attack"></a>Préparer le combat</h3>

        <p class="txt">
            Avant chaque combat, une page vous permet de voir les informations disponibles du pack adverse et d'ajouter des <a href="#bonusCards">cartes bonus</a> afin de vous adapter à ses éléments/cartes.
        </p>

        <p class="txt">
            La page de préparation du combat vous montre aussi les cartes disponibles dans votre collection. Vous pouvez cliquer sur une de vos cartes pour l'ajouter en tant que <a href="#bonusCards">cartes bonus</a> pour ce combat.
            Les cartes bonus choisies sont visibles dans la liste de droite.
        </p>

        <p class="txt">
            Que vous ayez ajouté des cartes bonus ou pas, il vous suffit de cliquer sur <a class="button">Lancer le Défi</a> dès que vous êtes prêt à suivre le combat.
        </p>

        <h3><a id="howToWin"></a>Déroulement d'un défi</h3>

        <p class="txt">
            Un Défi se déroule de la manière suivante :
        </p>

        <ul>
            <li>Une fois un défi lancé, vous pouvez suivre le combat en temps réel. Il vous suffit de cliquer sur le bouton qui clignote pour faire avancer l'action.</li>
            <li>Vous gagnez le Défi si à la fin d'un tour, votre adversaire n'a plus de points de vie.</li>
            <li>Au début de la partie, les packs des deux joueurs sont mélangés. Le joueur qui est attaqué commence à jouer.</li>
            <li>On enchaîne ensuite les <b>phases</b> de jeu jusqu'à ce qu'un joueur soit vaincu. Une phase se décompose en trois temps :
                <ul>
                    <li><b>Tour du joueur 1 : </b> Le premier joueur (situé au dessus dans l'interface) joue son tour.</li>
                    <li><b>Tour du joueur 2 : </b> Le second joueur joue son propre tour. </li>
                    <li><b>Combat : </b> Les Dinoz en jeu <b>combattent</b> les uns contre les autres ou attaquent directement le joueur adverse.</li>
                </ul>
            </li>
        </ul>

        <h3><a id="principles"></a>Principes de jeu</h3>

        <ul>
            <li><b>Energie :</b> Chaque joueur commence sans aucune énergie. Il en gagne quand une carte ne peut pas être jouée. L'énergie permet de jouer les cartes du pack, comme détaillé ci-dessous.</li>
            <li><b>Dinoz :</b> Chaque joueur peut invoquer un certain nombre de Dinoz. Les Dinoz restent un certain nombre de tours sous la forme d'Oeuf (face cachée) avant de s'activer.</li>
            <li><b>Rail :</b> Le Rail est l'endroit où se trouvent les Dinoz et les Oeufs. Un Rail ne dispose que d'un nombre limité de places.</li>
            <li><b>Pioche :</b> Ce sont les cartes restantes de votre pack qui n'ont pas encore été jouées.</li>
            <li><b>Cimetière :</b> Ce sont les cartes de votre pack qui ont déjà été jouées.</li>
            <li><b>Vie :</b> Chaque joueur dispose d'un certain nombre de points de vie visible à coté de son avatar.</li>
        </ul>

        <h3><a id="turn"></a>Tour d'un joueur</h3>

        <ul>
            <li><b>début du tour : </b> tous les <a onmouseover="showTip(this,'Les oeufs', 'Lorsque vous posez un Dinoz en jeu, il arrive sous forme d\'oeuf, face cachée.');" onmouseout="hideTip()">oeufs</a> du joueur reçoivent un marqueur éclosion.
                Si le nombre de marqueurs éclosion est au moins égal au niveau du Dinoz, ce dernier apparaitra face visible dès la fin du tour.
                <br>
                Si des effets qui se déclenchent au début du tour du joueur existent en jeu, ils sont résolus à ce moment. Par exemple, un Dinoz <b>empoisonné</b> (qui reçoit une blessure à
                chaque début de tour) recevra sa blessure de poison à ce moment.
            </li>

            <li><b>pioche d'une carte : </b>Le joueur joue la première carte de son pack. <br>
                <ul>
                    <li><b>
                            <img class="icon" alt="icon dinoz" src="{{ asset('img/gfx/icons/icon_dinoz.gif') }}">
                            Cas d'un Dinoz : </b><br>
                        On vérifie d'abord que le joueur dispose des énergies nécessaires pour jouer le dinoz. Si ce n'est pas le cas, la carte s'ajoute aux énergies du joueur.
                        <br>
                        Si le Dinoz peut être joué, on vérifie ensuite que le rail du joueur dispose d'une place libre pour le nouveau Dinoz. Si c'est le cas, on le pose face retourné à la première
                        place libre la plus à droite. Sinon, le Dinoz est placé dans le Cimetière du joueur. <br>
                        <b>Exemple : </b> Un Dinoz de Feu qui possède un coût d'une bille rouge ne peut être joué que si vous avez une Energie de Feu et une place sur le Rail.
                    </li>

                    <li><b>
                            <img class="icon" alt="icon spell" src="{{ asset('img/gfx/icons/icon_spell.gif') }}">
                            Cas d'une incantation : </b><br>
                        On vérifie d'abord que le joueur dispose des énergies nécessaires pour jouer cette carte. Si ce n'est pas le cas, la carte s'ajoute aux énergies du joueur. <br>
                        On exécute l'effet de la carte avant de la placer dans le Cimetière. Si la carte ne trouve pas de cible, elle est placée dans la réserve d'énergie au lieu du Cimetière. Elle n'est
                        donc jamais complètement inutile.<br>
                        <b>Exemple : </b> Pour jouer un sort d'Eau qui nécessite 2 billes bleues et une grise, vous devez posséder au moins 3 énergies, dont deux d'Eau (bleue).
                    </li>

                    <li><b>
                            <img class="icon" alt="icon object" src="{{ asset('img/gfx/icons/icon_object.gif') }}">
                            Cas d'un objet magique : </b><br>
                        Les objets se jouent comme les incantations.
                        Si l'objet peut être joué, il est posé face visible et reste en jeu de manière permanente, jusqu'à la fin de la partie ou jusqu'à ce qu'il soit détruit. Les effets de l'objet
                        sont décrits dans son texte et s'appliquent tant qu'il est en jeu.
                    </li>

                    <li><b>
                            <img class="icon" alt="icon charm" src="{{ asset('img/gfx/icons/icon_charm.gif') }}">
                            Cas d'un enchantement : </b><br>
                        Les enchantements se jouent comme les incantations.
                        Un enchantement est toujours posé en jeu sur un Dinoz ou un Oeuf, et lui apporte un effet supplémentaire décrit dans le texte de l'enchantement.
                    </li>
                </ul>

            </li>
            <li><b>fin du tour : </b>Tous les oeufs du joueur qui possèdent autant de marqueurs éclosion que leur niveau éclosent : ils sont retournés face visible et sont
                désormais des Dinoz. <br>
                Tous les effets applicables à la fin du tour du joueur sont résolus.
            </li>
        </ul>

        <h3><a id="DinozFight"></a>Combat de Dinoz</h3>
        <p class="txt">
            Les Dinoz en jeu s'affrontent face à face. Les combats s'effectuent de la gauche vers la droite du Rail, jusqu'à ce que tous les Dinoz en jeu aient combattu.
        </p>
        <p class="txt">
            Un Dinoz combat en infligeant au Dinoz face à lui un nombre de dégats (marqueurs rouges) égal à sa propre force.
        </p>
        <p class="txt">
            Si un Dinoz attaque mais n'a pas de Dinoz adverse en face de lui (ou s'il n'a en face de lui qu'un oeuf), il inflige ses dégats directement au joueur adverse.
        </p>
        <p class="txt">
            Une fois que tous les Dinoz ont attaqué, on envoie au Cimetière ceux qui possèdent un nombre de dégats au moins égal à leur endurance. Chaque fois qu'un Dinoz est détruit, les Dinoz
            survivants sont décalés vers la gauche de façon a ne laisser aucun espace sur le Rail.
        </p>

        <p class="txt">
            Les Dinoz peuvent posséder de nombreuses capacités spéciales qui influent sur leur comportement en combat. Des exemples de capacités sont donnés dans la
            rubrique <a href="#capacities">Capacités diverses</a>.
        </p>

        <h3><a id="gameover"></a>Fin de la Partie</h3>

        <p class="text">La partie se finit dans deux cas précis :</p>
        <ul>
            <li><b>mort d'un joueur :</b> Si l'un des deux joueurs tombe à 0 point de vie, il perds la partie à la fin du tour. Si les deux joueurs sont simultanément à 0 points de vie à la fin du tour, il y a égalité.</li>
            <li><b>plus de cartes :</b> Lorsque les deux joueurs n'ont plus de cartes à piocher, la partie ne dure plus que 10 tours. Si personne n'a gagné au bout de ces 10 tours,
                le joueur qui a le plus de points de vie remporte le match. (En cas d'égalité des points de vie, il y a match nul et une nouvelle manche est jouée pour départager les deux
                joueurs)</li>
        </ul>

        <h3><a id="experience"></a>Gagner de l'expérience</h3>
        <p class="txt">
            Votre pack gagne de l'expérience chaque fois qu'il remporte un défi dans l'Arène. Lorsqu'un pack remplit sa barre d'expérience, il gagne un niveau et sa barre retombe à zéro.
            Votre pack gagne de l'expérience uniquement lors des défis que vous lancez. Si un joueur défie un de vos packs, vous ne perdez ni ne gagnez d'expérience, quelle que
            soit l'issue du combat.
        </p>

        <p class="txt">
            Lorsque vous lancez un défi, vous pouvez combattre des packs qui ont au maximum 5 niveaux de plus que le vôtre. La différence de niveau entre les deux
            packs change le nombre de points d'expérience que vous pouvez gagner. Plus le pack adverse vaincu a un niveau élevé, plus vous gagnez d'expérience.
        </p>

        <h2><a id="collection"></a>Votre collection</h2>
        <p class="txt">
            Toutes vos cartes sont regroupées dans votre rubrique <a href="{# /card/viewAll #}">Mes cartes</a>, qu'elles soient disponibles ou bien rangées au chaud dans vos différents packs.
            Les onglets en haut vous permettent d'afficher vos possessions soit sous forme de cartes, soit sous forme de tableau. Quel que soit le mode d'affichage que vous préférez, vous disposez d'outils
            de recherche et de filtres (par rareté, élément, type de carte, etc) pour mettre la main très rapidement sur ce que vous cherchez.
            Un clic sur une carte de votre collection vous montre la carte et les informations utiles associées : nombre d'exemplaires en votre possession, nombre d'exemplaires dans vos packs, nombre d'exemplaires à l'échange.
        </p>

        <h3><a id="newCards"></a>Obtenir de nouvelles cartes</h3>
        <p class="txt">
            Tout d'abord, vous gagnez des cartes lors de votre apprentissage, chaque maître du dojo battu vous donne une carte en récompense avant de disparaître (en vérité, il rentre chez lui tout content d'être débarassé d'un boulot un peu
            rasoir, sous le regard jaloux de ses ex-collègues qu'il vous reste à battre. On raconte d'ailleurs que l'ermite de <a href="{{ path('homepage') }}">DinoParc</a> est un ancien grand maître du Dojo. Enfin... il parait)
        </p>
        <p class="txt">
            Une fois entré dans la dure vie de l'Arène, des recharges de cartes (appelées "booster" dans le milieu... allez savoir pourquoi...) peuvent être achetées à quantité de vendeurs ambulants. Heureusement pour vous, un prix unique a
            été fixé par le Crédit Arboricole, sinon c'était trop le bazar. Ainsi, tous les marchands proposent un prix fixe de <b>10 tokens</b> pour un booster.
            <i>"Mais où obtient-on des tokens"</i> me direz-vous ? Eh bien c'est très simple, il suffit de se rendre au <a href="{# TODO Return to the Egg Missions instead ?! #}">Crédit Arboricole</a> !
        </p>
        <p class="txt">
            {# /user/sponsoring #}
            Le <a href="{# /user/sponsoring #}">parrainage</a> vous permet également de gagner des tokens en faisant découvrir le site à vos amis.
        </p>

        <h3><a id="capacities"></a>Capacités diverses</h3>

        <p class="txt">
            Le texte des cartes contient plusieurs informations. Si la carte possède des capacités spéciales, elles sont toujours indiquées en premier. Viennent ensuite des effets particuliers expliqués en clair
            sur la carte. Par exemple, le <b>Krach'feu</b> ci-contre possède la capacité <b>vol</b>, et un effet déclenché lorsqu'il éclot. <br>
        </p>
        <p class="txt">
            Les cartes qui possèdent des capacités sont en très grande majorité des Dinoz. Un texte explicatif apparait toujours lorsque l'on passe la souris sur le nom de la capacité d'une carte.
            Il est donc très facile de savoir ce que fait une capacité que l'on ne connait pas encore :) .
        </p>

        <div class="card_fire">
            <div class="cardTop">
                <div class="cardName">Krach'feu</div>
            </div>
            <img class="cardImg" alt="" src="{{ asset('img/gfx/card/artwork/333.jpg') }}">

            <div class="mana">
                <img alt="feu" src="{{ asset('img/gfx/icons/energy_fire.gif') }}">
            </div>
            <div class="cardBody">
                <div class="cardTxt">
                    <p>
                        <span class="capacities"
                              onmouseover="showTip(this,'Vol', 'Le dinoz attaque directement le joueur adverse si son adversaire ne vole pas. Il reçoit par contre des dégats de son adversaire normalement. ');"
                              onmouseout="hideTip()"><b>Vol</b></span>
                    </p>
                    <p>A l'éclosion du Krach'feu, le dinoz ou oeuf adverse face à lui subit 6 blessures.</p>
                </div>
                <div class="cardFlavor">
                </div>
                <div class="CardType">
                    6
                </div>
                <div class="cardDef">
                    3
                </div>
                <div class="cardAtk">
                    2
                </div>
            </div>
        </div>


        <p class="txt">
            En guise d'exemple, voici une liste de quelques capacités que vous rencontrerez :
        </p><ul>
            <li><b>Armure : </b>Tous les dégats infligés au Dinoz sont réduits de 1.
            </li>
            <li><b>Berserk : </b> Quand un dinoz Berserk est bloqué, il gagne +1/-1 jusqu'à la fin du tour.
            </li>
            <li><b>Débordement : </b>Ce Dinoz peut arriver en jeu meme si la limite du rail (3 Dinoz maximum) est atteinte.
            </li>
            <li><b>Englué : </b>Un Dinoz englué ne peut plus attaquer.
            </li>
            <li><b>Eternel : </b>Si la carte est dans votre cimetière avec au moins 3 cartes au dessus d'elle, jouez-la au début de votre tour.
            </li>
            <li><b>Héros : </b>Un Héros entre en jeu sans occuper de place sur le rail de dinoz. Un seul héros peut être en jeu pour chaque joueur.
            </li>
            <li><b>Initiative : </b>Les Dinoz doués d'initiative attaquent en premier. Une fois que tous les Dinoz ont attaqué, les Dinoz détruits sont envoyés au cimetière mais on ne fait aucun
                décalage sur le rail. Ensuite, les Dinoz sans initiative combattent à leur tour normalement.
            </li>
            <li><b>Meute : </b> Le Dinoz attaque toujours le premier Dinoz du rail adverse.
            </li>
            <li><b>Peureux : </b>Si un dinoz ne peut être mis en jeu par manque de place, le plus vieux dinoz peureux en jeu va au cimetière et lui laisse sa place sur le rail.
            </li>
            <li><b>Piétinement : </b>Si le Dinoz a un oeuf en face de lui, il l'attaque en lui infligeant des dégats au lieu d'attaquer l'adversaire.
            </li>
            <li><b>Rock : </b>Tout Dinoz adverse qui attaque prend pour cible ce Dinoz au lieu de sa cible normale (priorité sur Meute). Si plusieurs Dinoz possèdent la capacité Rock,
                le Dinoz le plus ancien est pris pour cible.
            </li>
            <li><b>Vaporeux : </b>Un Dinoz vaporeux ne peut pas bloquer.
            </li>
            <li><b>Venimeux : </b> Ce Dinoz empoisonne tout Dinoz qui le bloque pendant un combat. Un Dinoz empoisonné reçoit une blessure au début de son tour.
            </li>
            <li><b>Vol : </b> Le Dinoz attaque directement le joueur adverse si le Dinoz face à lui ne vole pas. Il reçoit par contre des dégats de son adversaire normalement.
            </li>
        </ul>
        <p></p>

        <h2><a id="pack"></a>Construire un pack</h2>

        <p class="txt">Votre premier paquet de cartes - appelé pack - contient 20 cartes. Comme pour tout nouveau joueur qui se respecte, ce pack va vous permettre d'apprendre les mécanismes essentiels du jeu avec les grands maîtres du <a class="button">Dojo</a>.
            Les défier vous fera découvrir les mécanismes essentiels pour devenir un grand duelliste respecté de tous, et chaque maitre du Dojo vaincu <b>vous remettra une carte supplémentaire pour vous féliciter.</b>
            <br>
            Lorsque vous aurez battu au moins 10 maîtres du Dojo, vous serez considéré comme assez aguerri pour affronter d'autres joueurs dans l'Arène.
        </p>

        <p class="txt">
            Un pack est soumis à quelques règles pour pouvoir être joué :
        </p><ul>
            <li>Il doit posséder <b>au minimum 20 cartes</b>.</li>
            <li>Une carte ne peut être dans plusieurs packs de jeu à la fois.</li>
            <li>Il est impossible de jouer plus de <b>3 cartes identiques dans le même pack</b>. Si par exemple vous souhaitez jouer des <a href="{# TODO /card/view?id=134 #}">Nuage burger</a>
                dans un pack, vous pouvez en inclure de 1 à 3, pas plus (sinon, vous risquez une indigestion carabinée...). </li>
            <li>Au fur et à mesure de ses victoires, votre pack va gagner des niveaux.Pour chaque niveau,le pack obtient un point de compétence que vous pouvez dépenser dans une des cinq <b>compétences</b>
                du pack</li>
        </ul>
        <p></p>

        <p class="txt">
            Tant que vous possédez assez de cartes, vous pouvez créer autant de packs que vous le souhaitez. Chaque pack peut défier au minimum <b>deux adversaires par jour</b> dans l'Arène.
            Cliquez sur <a class="button">Nouveau pack</a> dans le menu à gauche pour commencer la création d'un pack. Il vous faut au minimum 20 cartes
            qui ne sont ni dans un autre pack ni en cours d'échange.
        </p>

        <p class="txt">
            La page de création de pack vous permet de naviguer parmi toutes vos cartes disponibles. Cliquer sur une carte permet d'en ajouter un exemplaire au pack en cours de création. Les cartes déjà selectionnées apparaissent dans le menu de droite.
            Le bouton
            <img class="icon" alt="icon moin dinocard" src="{{ asset('img/gfx/icons/minus.gif') }}">
            retire un exemplaire du pack en cours de création.
        </p>
        <p class="txt">
            Vous pouvez changer de page sans perdre le détail de votre pack en construction, ce qui vous permet par exemple d'aller sur la page d'une carte. Le pack est conservé tant que
            vous ne souhaitez pas modifier/créer un autre pack et tant que vous restez connecté.
        </p>
        <p class="txt">
            Le menu de droite contient également deux boutons. <a class="button">Vider</a> vous permet de retirer toutes les cartes de votre pack en construction. Le bouton
            <a class="button">Enregistrer</a> enregistre votre nouveau pack. Un nom vous est demandé (de 4 à 12 caractères) pour créer le pack définitivement.
        </p>

        <p class="txt">
            Un pack peut être dissous à tout moment. dans ce cas, le pack est détruit et toutes les cartes qui le composaient sont toujours dans votre collection. Cette action est irréversible, mais vous
            pouvez reconstruire le même pack immédiatement si vous le souhaitez. Si votre pack avait gagné des niveaux, le dissoudre vous fera perdre ses points de compétences.
        </p>

        <p class="txt">
            <b>Attention !</b> Un pack nouvellement construit ne disposera de ses parties journalières qu'à partir du lendemain.
        </p>

        <h2><a id="comps"></a>Compétences</h2>

        <p class="txt">
            Chaque fois que l'un de vos packs gagne un niveau, il obtient  un point de compétence. Vous pouvez dépenser ce point dans l'une des cinq compétences de
            votre pack, en cliquant sur le bouton <a class="button">Augmenter le niveau</a>qui apparait après le combat. <br>
            Vous pouvez aussi dépenser le point plus tard si vous le souhaitez, un bouton <a class="button">Niveau suivant !</a> est présent sur la fiche de votre pack tant qu'il vous reste
            des points de compétences à dépenser.
        </p>

        <p class="txt">Les cinq compétences d'un pack sont  : </p>

        <h3><a id="playMore"></a>Parties quotidiennes</h3>
        <p class="txt">
            Un point de compétence dépensé ajoute une partie quotidienne à votre pack. Les parties quotidiennes sont consommées dans l'Arène.
        </p>

        <h3><a id="life"></a>Points de vie</h3>
        <p class="txt">
            Chaque point dépensé dans cette compétence permet à votre pack de commencer ses défis avec un point de vie supplémentaire.
        </p>

        <h3><a id="strategy"></a>Stratégie</h3>
        <p class="txt">
            La compétence Stratégie vous permet d'obtenir davantage d'informations sur les packs adverses avant de combattre. Vous pouvez donc voir quels adversaires sont
            faibles face à votre pack, et même adapter votre stratégie pour les vaincre plus facilement.
        </p>
        <p class="txt">
            Le premier point dépensé en stratégie vous permet de voir les deux éléments majeurs des packs adverses et leur pourcentage de victoire. Chaque point
            supplémentaire dépensé vous montre des cartes du pack adverse avant de combattre, ce qui vous permet de préparer une défense efficace en ajoutant les
            <a href="#bonusCards">cartes bonus</a> les plus appropriées.
        </p>

        <h3><a id="bonusCards"></a>Cartes bonus</h3>
        <p class="txt">
            Avant chaque combat, il est possible d'ajouter des cartes bonus à son pack. Ces cartes peuvent être choisies parmi vos cartes disponibles (qui ne sont ni dans vos packs, ni en
            cours d'échange). Les cartes bonus sont ajoutées à votre pack uniquement pour un combat.<br>
            Chaque élément est fort contre deux autres. Si vous connaissez les éléments joués par votre adversaire, il est intéressant d'ajouter des cartes bonus qui servent justement à contrer les
            éléments adverses ! Votre victoire en sera beaucoup plus facile. Vous pouvez aussi faire la même chose si vous voyez les cartes adverses : il est toujours utile d'ajouter des cartes
            de destruction d'objets magiques si votre adversaire en joue beaucoup :).
        </p>

        <p class="txt">
            Un nouveau pack peut ajouter une seule carte bonus avant un combat. Cette compétence vous permet d'ajouter une carte bonus supplémentaire à votre pack pour chaque
            point dépensé.
        </p>

        <h3><a id="sight"></a>Perception</h3>
        <p class="txt">
            La compétence Perception augmente le nombre d'adversaires disponibles dans l'Arène. Chaque point dépensé en Perception ajoute 2 adversaires supplémentaires dans l'Arène.
        </p>

        <h2><a id="score"></a>Le classement</h2>

        <p class="txt">
            Le <a href="{{ path('ranks') }}">classement</a> des joueurs permet de voir où vous vous placez parmi les meilleurs éleveurs de Dinocard. Ce classement est calculé en additionnant
            les niveaux de tous vos packs, ce qui donne votre nombre de points. Vous pouvez facilement voir votre position dans le classement ou chercher le nom d'un autre joueur, ce qui peut être pratique
            pour trouver des gens avec qui vous souhaitez échanger des cartes.
        </p>
        <p class="txt">
            <b>Attention</b>, dissoudre un pack peut être très intéressant pour pouvoir échanger certaines de vos cartes ou pour en reconstruire un nouveau, mais cela vous fera perdre quelques points
            dans le classement.<br>
        </p>

        <p class="txt">
            Le classement est mis à jour tous les soirs vers 3 heures du matin.
        </p>

        <h2><a id="msgs"></a>Contacter les autres joueurs</h2>
        <p class="txt">
            Dans Dinocard, cliquer sur le nom d'un autre joueur vous permet d'accéder à sa fiche personnelle. Sur cette page, vous pouvez voir ses packs, son classement, les cartes qu'il
            propose à l'<a href="#exchanges">échange</a> et celles qu'il <a href="#wanted">recherche</a>. <br>
            Si le joueur l'autorise, vous pouvez voir son adresse email et/ou lui envoyer directement un message privé sur Dinocard. Enfin, vous pouvez lui faire une nouvelle proposition d'échange.
        </p>
        <p class="txt">
            Les fiches des joueurs sont accessibles à plusieurs endroits du site : lorsque vous choisissez un adversaire dans l'Arène, dans le classement... Vous pouvez ajouter des joueurs que vous
            appréciez particulièrement à votre <a href="#friends">liste d'amis</a>. Il vous sera alors très facile de discuter avec eux ou de leur proposer de nouveaux échanges.
        </p>
        <p class="txt">
            Lorsque vous vous inscrivez, vous pouvez être contacté par tous les joueurs de Dinocard. Si vous le souhaitez, il est possible de configurer son compte pour n'être contacté que par les joueurs de sa liste d'amis.
            Pour cela, rendez-vous dans la rubrique <a href="{{ path('user') }}">Mon compte</a> ou dans la <a href="{# /friends #}">page de gestion</a> de votre liste d'amis.
        </p>

        <p class="txt">
            Soyez corrects avec les autres joueurs dans vos messages privés. Vous pouvez être banni de la messagerie pendant quelque temps en cas d'abus répété, votre compte peut aussi être supprimé
            en cas d'abus plus grave et dérangeants pour les autres joueurs (spam de messages, insultes répétées, tentatives de vol de compte...)
        </p>

        <h2><a id="friends"></a>Liste d'amis</h2>
        <p class="txt">
            Votre liste d'amis vous permet d'envoyer des messages privés ou de proposer de nouveaux échanges à vos amis très facilement. La liste d'amis est toujours visible à droite de l'écran dans vos rubriques
            <a href="{# /exchange #}">Echanges</a> et <a href="{# /mail #}">Messagerie</a>. <br>
        </p>
        <p class="txt">
            L'icône

            <img class="icon" alt="icon friend dinocard" src="{{ asset('img/gfx/icons/friend.gif') }}"
                 onmouseover="showTip(this, 'Mes amis', 'Fait déjà partie de vos amis');"
                 onmouseout="hideTip()">

            à côté du nom d'un joueur indique qu'il s'agit d'un de vos amis. Rendez-vous sur la page d'information d'un joueur pour l'ajouter à vos amis. <br>
            <b>Attention</b>, vous ne pouvez pas enregistrer plus de 40 amis à la fois dans votre liste.
        </p>

        <h2><a id="wanted"></a>Cartes recherchées</h2>
        <p class="txt">
            En défiant d'autres packs ou en naviguant parmi les pages d'information des autres joueurs, vous découvrirez certainement des cartes encore inconnues, qui pourraient se révéler très
            puissantes dans vos propres packs. La rubrique des <a href="{# /user/wishList #}">Cartes recherchées</a> vous permet de garder une trace de ces cartes pour les revoir facilement.
        </p>
        <p class="txt">
            Pour marquer que vous recherchez une carte, cliquer sur le bouton <a class="button"><img src="{{ asset('img/gfx/icons/whishlist_add.gif') }}"></a> disponible sur la page de chaque carte.
        </p>
        <p class="txt">De plus, n'oubliez pas que les cartes que vous recherchez sont visibles sur votre  <a href="{{ path('user') }}">fiche de joueur</a>, elles sont donc une indication importantes pour les joueurs qui souhaiteraient faire un échange
            avec vous. Ils peuvent savoir immédiatemment quelles cartes pourraient vous intéresser pour conclure l'échange.
        </p>
        <p class="txt">
            Cela fonctionne dans les deux sens, prennez donc bien le temps de regarder les cartes que recherchent les autres joueurs si vous êtes intéressés par certaines de leurs cartes à l'échange !
            Il sera sûrement beaucoup plus simple de vous mettre d'accord ensuite :)
        </p>


        <h2><a id="exchanges"></a>Les échanges</h2>
        <p class="txt">
            Dinocard vous permet de réaliser des échanges de cartes avec les autres joueurs. Notez que seules les cartes obtenues dans des boosters peuvent être échangées.
            Si certaines cartes obtenues dans vos boosters ne vous sont d'aucune utilité, il peut être intéressant de tenter de les échanger contre d'autres. Il existe sûrement des joueurs
            qui jouent d'autres éléments que les vôtres ou qui n'ont pas la même stratégie que vous qui seront ravis de vous échanger ces cartes :).
        </p>

        <p class="txt">
            Le système d'échange vous permet de discuter et de modifier vos propositions de cartes en tout sécurité. Mais une fois l'échange validé par les deux joueurs, il est irréversible (à moins que vous ne fassiez le
            même échange dans l'autre sens, bien sûr :) ).
        </p>

        <h3><a id="exchangeList"></a>Ma liste de cartes à l'échange</h3>
        <p class="txt">
            Seules les cartes qui ne se trouvent pas dans un de vos packs peuvent être échangées. Si vous souhaitez proposer à l'échange une carte de vos packs, vous devez soit modifier ce pack pour
            la retirer, soit dissoudre votre pack.
        </p>
        <p class="txt">
            Vous pouvez échanger des tokens contre des cartes. Dans un même échange, un seul joueur à la fois peut proposer des tokens. Bien sûr, il n'est pas possible de proposer plus de tokens que ce que l'on
            possède :)<br>
            Si vous proposez des tokens dans un échange, ils sont bloqués tant que l'échange n'est pas conclu : vous ne pouvez pas les proposer dans un autre échange ou les utiliser pour acheter un booster. Si vous
            les retirez de l'échange, ils sont à nouveau disponibles immédiatement.
        </p>
        <p class="txt">
            Parmi vos cartes "hors pack", vous pouvez décider de n'en mettre que quelques unes à disposition pour échange, Cela vous permet de ne pas montrer toutes vos cartes aux autres joueurs, et vous assure de
            ne pas faire d'erreur durant les échanges. En effet, vous ne pourrez proposer dans un échange que les cartes que vous n'avez pas protégées. Impossible donc d'échanger une
            carte par erreur si vous avez effectivement protégé le nombre d'exemplaires de cartes que vous voulez absolument garder.
        </p>
        <p class="txt">
            Pour protéger certaines de vos cartes, allez dans votre <a href="{# /card/viewAll #}">collection</a> et cliquez sur une carte dont vous souhaitez protéger des exemplaires.
            Les boutons <a class="button">+</a> et <a class="button">-</a> vous permettent de régler le nombres d'exemplaires que vous souhaitez protéger.
        </p>
        <p class="txt">
            Par exemple, si vous possédez 3 exemplaires d'une carte mais ne souhaitez en proposer qu'une seule à l'échange, réglez l'affichage jusqu"à obtenir <b>2/3</b> exemplaires protégés.
        </p>

        <h3><a id="newExchange"></a>Proposer un échange à un joueur</h3>
        <p class="txt">
            Le bouton <a class="button">Nouvel échange</a> est disponible sur la fiche des joueurs. Il vous permet de proposer un échange avec ce joueur.<br>
            Pour que votre échange soit envoyé au joueur, il doit contenir au moins une carte (à vous d'en ajouter à votre proposition en cliquant sur vos cartes) et un texte pour lui expliquer quelles cartes vous intéressent. N'oubliez pas d'être poli et d'éviter le langage sms, cela peut beaucoup vous aider à
            conclure l'échange avec succès :).<br>
            Pour envoyer votre proposition, Cliquer sur le bouton <a class="button">Enregistrer</a> sous votre proposition à droite.
        </p>

        <p class="txt">
            Vous ne pouvez pas faire deux échanges en même temps avec le même joueur. Si vous souhaitez échanger de nouvelles cartes avec ce joueur, ajoutez les à l'échange en cours.
            De plus, vous ne pouvez pas avoir plus de dix échanges en cours en même temps.
        </p>

        <p class="txt">
            Une fois votre nouvel échange envoyé, il est visible dans votre rubrique <a href="{# /exchange #}">Echange</a> parmi vos échanges en cours. Vous pouvez y accéder pour
            discuter avec le joueur ou modifier votre proposition de carte.
            Si votre interlocuteur a répondu à votre échange, il apparait à droite de la <a href="{{ path('homepage') }}">page d'accueil</a> dans vos messages et échanges non lus.
        </p>

        <p class="txt">
            <b>Astuce</b>. N'oubliez pas de vous référer aux cartes que recherche le joueur à qui vous proposez un échange pour lui proposer des cartes susceptibles de l'intéresser.
        </p>

        <h3><a id="exchangeFight"></a>L'art de se mettre d'accord... ou pas</h3>
        <p class="txt">
            Une fois un échange en cours, les deux joueurs peuvent discuter et modifier leurs propositions de cartes jusqu'à ce qu'ils arrivent à se mettre d'accord. L'interface d'échange permet
            de réaliser tout cela sans risque de perdre des cartes. <br>
            L'interface d'échange vous permet de voir les cartes proposées par chaque joueur et la discussion en cours. Vous disposez d'une zone de texte pour envoyer directement un message
            à l'autre joueur, d'un bouton <a class="button">Modifier mes cartes</a> qui permet de changer les cartes que vous proposez, et de boutons pour modifier le statut de l'échange en
            cours : <b>annuler</b> et <b>Valider</b>.
        </p>
        <p class="txt">
            Un échange peut avoir trois statuts :
        </p><ul>
            <li><b>en cours :</b><br>
                Tant que l'échange est en cours, les joueurs peuvent discuter et modifier leurs cartes à l'échange.
            </li>
            <li><b>annulé :</b><br>
                Si l'un des deux joueurs annule l'échange, il n'est plus modifiable pour aucun d'entre eux définitivement. Chacun garde ses propres cartes et l'échange disparaîtra de l'historique des
                joueurs au fur et à mesure de nouveaux échanges.
            </li>
            <li><b>validé :</b><br>
                pour que l'échange soit validé, les deux joueurs doivent avoir cliqué sur leur bouton <a class="button">Valider</a> sans faire de modification de leurs listes de
                cartes. <br>
                Ainsi, si un échange en cours vous convient, cliquez sur <a class="button">Valider</a>. Votre liste de cartes apparaitra alors en vert pour signifier que vous êtes d'accord
                pour échanger les cartes. Si l'autre joueur valide aussi, l'échange est réussi et les cartes sont échangées définitivement. Notez que si l'un des deux joueurs modifie sa proposition de cartes,
                les accords des deux joueurs sont automatiquement levés, et vous devrez valider à nouveau si les nouvelles conditions vous conviennent toujours. Par contre, si l'échange ne vous convient
                plus, il est alors impossible que l'échange se fasse sans votre accord :).<br>
                Gardez à l'esprit de bien vérifier que l'échange vous convient avant de le valider pour éviter les déconvenues. La validation d'un échange passe d'ailleurs toujours par une demande de confirmation.
            </li>
        </ul>
        <p></p>
        <p class="txt">
            <b>Astuce.</b> Si malgré tout, vous avez validé un échange alors que vous ne le souhaitiez pas, n'oubliez pas que vous avez toujours la possibilité d'annuler complètement l'échange
            ou de modifier votre proposition le plus vite possible.
        </p>

        <h2>
            <a id="faq"></a>Questions souvent posées
        </h2>
            <ul>
                <li><b>Peut-on créer plusieurs comptes ?</b><br>
                    Non, il est interdit de créer plusieurs comptes pour la même personne.
                    Par contre plusieurs membres de la même famille peuvent chacun avoir leur propre compte.
                </li>
                <li><b>Comment obtenir plus de cartes ?</b><br>
                    Pour obtenir de nouvelles cartes, vous pouvez commencer par vaincre les Maîtres du <a href="{# /dojo #}">Dojo</a>. Battre les plus puissants d'entre eux vous permettra même de gagner des cartes rares.
                    Néanmoins, comme les 22 cartes obtenues à l'inscription, les cartes gagnées au Dojo ne sont pas échangeables avec les autres joueurs.<br>
                    Vous pouvez aussi obtenir des <b>boosters</b> de 8 cartes pour 10 pièces. Chaque booster contient 1 carte rare, 2 cartes normales
                    et 5 communes, et toutes ces cartes sont <b>échangeables</b> par la suite.<br>
                    Pour obtenir plus de pièces, le plus simple est de vous rendre au <a href="{# /user/booster #}">Crédit Arboricole</a>. Vous pouvez également gagner des tokens en <a href="{# /sponsoring #}">parrainant</a>
                    vos amis.
                </li>
            </ul>
        </div>
    </td>
{% endblock %}