.dinocard
{
    width: 168px !important;
    margin: 0 !important;
}

.zoomable
{
    transform: scale(0.7);
    transition: 0.3s;
}

.zoomable:hover
{
    transform: scale(1.0);
    z-index: 10;
    border-radius: 4%;
    box-shadow: 0 0 8px 5px #ffd11a;
}

.dinocardFightTimeline {
    position: absolute;
    right: 0;
}

.firstPlayer {
    right: 140px;
}

.moveUpOnTimeline {
    position:relative;
    top: -140px;
}

div.statHighlight {
    color: #008c09;
    font-size: 15px;
    text-shadow: #68ff00 1px 1px 4px;
}