{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" />
{% endblock %}

{% block title %}
    - Admin
{% endblock %}

{% block content %}
    <h1>Administration {% block extraTitle %}{% endblock %}</h1>
    <div>
	</div>

    <br>

    {% block adminContent %}

    {% endblock %}
{% endblock %}