{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
    {# Any extra JS for your page #}
{% endblock %}

{% block title %}
- Debug Deck
{% endblock %}

{% block content %}
    {% if data != null %}
        <div>
            <h1>Debug deck generation ({{ data.name }})</h1>
            {% for card in data.deck.cards %}
                {{ include('Card/card.html.twig', { 'card': card, 'showCard': true })}}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}