{% extends 'base.html.twig' %}

{% block title %}
- Presets Selector
{% endblock %}

{% block content %}
    <h1>Combat entre deux Presets de Deck :</h1>
    <form action="{{ path('confirmDeckPresetsForFight')}}" method="post">
        <label>
            Preset A :
            <select id="deckPresetA" name="deckPresetA">
                {% for name in presets %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            Preset B :
            <select id="deckPresetB" name="deckPresetB">
                {% for name in presets %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </label>
        {# TODO Seed label - Will be easier to reproduce a specific bug #}
        {#
        <label>
            Seed
            <input type="number"/>
        </label>
        #}
        <input type="submit" class="button" value="Confirmer">
    </form>
{% endblock %}