{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
    {# Any extra JS for your page #}
{% endblock %}

{% block title %}
- {# Your Title #}
{% endblock %}

{% block content %}
    <div id="fauxrhum">

        <div id="fauxRhum">
            <h1 class="d2">Messages de sambon</h1>

            <a href="/user/info?id=253116" class="button">Retour</a>




            <div class="paginate"><div class="currentpage"> Page 1/1</div><ul><li><div class="back_disable"><span> &lt; </span></div></li><li><div class="activepage"> <strong>1</strong></div></li><li><div class="next_disable"><span>&gt;</span></div></li></ul></div>


            <table class="forumTab">



                <tbody><tr><td colspan="2"><h2><a href="/forum/fTheme?id=2">La poubelle</a></h2></td></tr>




                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av948976"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av948976");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 13 août 2010 à 13:26

                                [<a href="/forum/fEdit?id=948976">edit.</a>]
                                [<a href="/forum/fDelete?id=948976" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Salut, je recherche:<br> <br> 2-bdp<br> 3-transfo<br> 2-germe <br> <br> <img src="http://data.dinocard.net/gfx/forum/icon_token.gif" alt="[token]"> +cartes dispo</p>
                    </td>
                </tr>



                <tr><td colspan="2"><h2><a href="/forum/fTheme?id=5">Cartes</a></h2></td></tr>



                <tr><td colspan="2"><h3><a href="/forum/fThread?id=16001">[Foudre] Dinogre de mokari</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av571563"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av571563");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 13 déc. 2007 à 16:57

                                [<a href="/forum/fEdit?id=571563">edit.</a>]
                                [<a href="/forum/fDelete?id=571563" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Je ne suis pas dacord elle pourais etre jouable avec un pack eternel reanimation ext... Et la capacite tenace aussi mais bon je mets 7/10.</p>
                    </td>
                </tr>




                <tr><td colspan="2"><h3><a href="/forum/fThread?id=16010">[Feu] Embrasement</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av585109"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av585109");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 02 janv. 2008 à 20:04

                                [<a href="/forum/fEdit?id=585109">edit.</a>]
                                [<a href="/forum/fDelete?id=585109" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Beaucoups mieu que save de braise arc pourais etre joué avec eternel et elle nesesite 1 energie(salve 3)</p>
                    </td>
                </tr>




                <tr><td colspan="2"><h3><a href="/forum/fThread?id=241167">[Feu] Rôdeur roussi</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av641154"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av641154");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 06 avril 2008 à 18:42

                                [<a href="/forum/fEdit?id=641154">edit.</a>]
                                [<a href="/forum/fDelete?id=641154" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Elle peux-etre jouer avec des forges du grands tout chauds^^<strong></strong></p>
                    </td>
                </tr>




                <tr><td colspan="2"><h3><a href="/forum/fThread?id=241183">[Ciel] Vendanges spirituelles</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av604053"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av604053");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 27 janv. 2008 à 19:13

                                [<a href="/forum/fEdit?id=604053">edit.</a>]
                                [<a href="/forum/fDelete?id=604053" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Band de pirana ne servira a rien vu qu'ils sont efhemere<img src="http://data.dinocard.net/gfx/forum/icon_wink.gif" alt=";)"> Sauf si elle est coupler avec grifogle kululu ext</p>
                    </td>
                </tr>




                <tr><td colspan="2"><h3><a href="/forum/fThread?id=718643">[Feu] Kamikazoo</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av718774"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av718774");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 27 oct. 2008 à 13:30

                                [<a href="/forum/fEdit?id=718774">edit.</a>]
                                [<a href="/forum/fDelete?id=718774" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong>On la mis en commune?</p>
                    </td>
                </tr>




                <tr><td colspan="2"><h3><a href="/forum/fThread?id=727912">[Eau] Bulle protectrice</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av728042"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av728042");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 10 nov. 2008 à 16:59

                                [<a href="/forum/fEdit?id=728042">edit.</a>]
                                [<a href="/forum/fDelete?id=728042" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>hundren ya aussi , pour les eau-ciels controle une carte pratique^^</p>
                    </td>
                </tr>




                <tr><td colspan="2"><h3><a href="/forum/fThread?id=758134">[Bois] Croqueur de souches</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av758273"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av758273");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 12 janv. 2009 à 17:35

                                [<a href="/forum/fEdit?id=758273">edit.</a>]
                                [<a href="/forum/fDelete?id=758273" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Je parie que cette carte sera encore plus cher qu'octo^^</p>
                    </td>
                </tr>



                <tr><td colspan="2"><h2><a href="/forum/fTheme?id=6">Echanges</a></h2></td></tr>



                <tr><td colspan="2"><h3><a href="/forum/fThread?id=948976">[Recherche]</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av949013"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av949013");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 13 août 2010 à 16:29

                                [<a href="/forum/fEdit?id=949013">edit.</a>]
                                [<a href="/forum/fDelete?id=949013" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Recherche finie, merci à tous ^^<strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong></p>
                    </td>
                </tr>





                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av949025"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av949025");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 13 août 2010 à 16:37

                                [<a href="/forum/fEdit?id=949025">edit.</a>]
                                [<a href="/forum/fDelete?id=949025" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Change de compte?Faut revoir tes info.<br> <br> De plus les modos ne peuvent rien faire pour ca(le reglement ca existe) par contre ils peuvent bann pour flood sur le topic d'echange de qulqu'un d'autre.<strong>---- XXXX ---</strong></p>
                    </td>
                </tr>





                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av949027"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av949027");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 13 août 2010 à 16:43

                                [<a href="/forum/fEdit?id=949027">edit.</a>]
                                [<a href="/forum/fDelete?id=949027" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Dernier post que je post(logique^^)<br> <br> Bon,sache que un défi a mise ou le gas défi 2x le même joueurs c'est de l'arnaque, pour ca que j'ai préferé arreté.<br> <br> Pour les defi a mise, je n'en ai fait avec personne d'autrez à part toi.<br> <br> De plus ce n'est pas car tu es un ancien joueurs que tu a le droit de demander un ban à vie pour ca.<br> <br> Calme toi et revien me parlé par mp si tu veux arrangé ca.</p>
                    </td>
                </tr>



                <tr><td colspan="2"><h2><a href="/forum/fTheme?id=7">Discussion générale</a></h2></td></tr>



                <tr><td colspan="2"><h3><a href="/forum/fThread?id=984406">[ Sondage ] AE, pour ? // contre ?</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av984583"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av984583");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">





                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">



                                0</div>


                            <div class="threadAuthor">

                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 27 nov. 2010 à 09:30

                                [<a href="/forum/fEdit?id=984583">edit.</a>]
                                [<a href="/forum/fDelete?id=984583" onclick="return confirm('Delete selected reply ?');">suppr.</a>]


                            </div>
                        </div>
                        <p>Sambon:Contre:a voté<strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong></p>
                    </td>
                </tr>



                <tr><td colspan="2"><h2><a href="/forum/fTheme?id=9">Tournois</a></h2></td></tr>



                <tr><td colspan="2"><h3><a href="/forum/fThread?id=975812">[ OFFICIEL ]  DC Ligue T2</a></h3></td></tr>



                <tr>
                    <td class="avatarBox"><div class="avatar">
                            <div id="av976983"><embed type="application/x-shockwave-flash" src="http://data.dinocard.net/swf/portrait.swf" width="60" height="84" id="game" name="game" bgcolor="FFFFFF" quality="high" wmode="transparent" menu="false" flashvars="url=http://data.dinocard.net/swf/avatar.swf&amp;face=0&amp;flip=2"></div>
                            <script type="text/javascript">
                                //<![CDATA[

                                var swf = new SWFObject('http://data.dinocard.net/swf/portrait.swf', 'game', 60, 84, 7, 'FFFFFF');
                                swf.addVariable('url', 'http://data.dinocard.net/swf/avatar.swf');
                                swf.addVariable('face', '0');
                                swf.addVariable('flip', '2');
                                swf.addParam('wmode', 'transparent');
                                swf.addParam('menu', 'false');
                                swf.write("av976983");
                                //]]>
                            </script>
                        </div> </td>

                    <td class="thread">
                        <div class="author">
                            <div class="ranking">
                                <img alt="Classement" src="/gfx/gui/ranking.gif" title="Classement">
                                0
                            </div>
                            <div class="threadAuthor">
                                <a href="/user/info?id=253116" class="user">sambon</a>&nbsp;
                            </div>
                            <div class="time">
                                le 05 nov. 2010 à 18:55
                                [<a href="/forum/fEdit?id=976983">edit.</a>]
                                [<a href="/forum/fDelete?id=976983" onclick="return confirm('Delete selected reply ?');">suppr.</a>]
                            </div>
                        </div>
                        <p>55. hmpalnezia / KaTafro / confirmé <a target="popup" href="/forum/fRedir?url=http://www.dinocard.net%2Fduel%2FviewOld%3Fid%3D27260199">VICTOIRE</a> <br> j56. Grifo / Borée / confirmé DEFAITE<br> j57. Yoni / Aviendha / confirmé DEFAITE<br> J61. inari13 / Brouillard confirmé  DEFAIte<br> j63. Gblober / Black Milk / confirmé  <a target="popup" href="/forum/fRedir?url=http://www.dinocard.net%2Fduel%2FviewOld%3Fid%3D27265176">vICTOIRE</a><br> j66. totomer / croquemort confirmé <a target="popup" href="/forum/fRedir?url=http://www.dinocard.net%2Fduel%2FviewOld%3Fid%3D27265195">VICTOIRE</a> <br> j67. sambon / fun V2 confirmé<br> j68. JuJ88 / BullShit confirmé DEFAITE<br> <br> Pas assez pour passé=(</p>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="paginate"><div class="currentpage"> Page 1/1</div><ul><li><div class="back_disable"><span> &lt; </span></div></li><li><div class="activepage"> <strong>1</strong></div></li><li><div class="next_disable"><span>&gt;</span></div></li></ul></div>
        </div>
    </div>
{% endblock %}

{# TODO Create a new sub template with the table + main / side #}