{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
    {# Any extra JS for your page #}
{% endblock %}

{% block title %}
- {# Your Title #}
{% endblock %}

{% block content %}
    <table id="aTable">
        <tbody><tr>
            <td class="mainBox">
                <div id="msg">

                </div>

                <h1>Historique des bans de
                    <span class="userName" onmouseover="showTip(this,'Fiche joueur', 'Voir la fiche de anthony042.');" onmouseout="hideTip()"><a href="/user/info?id=218384">anthony042</a></span>
                </h1>

                <a href="http://www.dinocard.net/user/info?id=218384" class="button">Retour</a>

                <h2>Ban en cours</h2>

                <div id="mailBox">
                    <div id="superTab">
                        <table>
                            <tbody><tr>
                                <th class="mailicon">unBan</th>
                                <th class="expediteur">Joueur</th>
                                <th class="expediteur">Banni par</th>
                                <th class="lastReply">Depuis le</th>
                                <th class="nbMessages">3 jours</th>
                                <th class="nbMessages">Infos</th>
                            </tr>
                            <tr class="null">
                                <td><a href="/user/unbanHim?id=218384" onclick="return confirm('Débannir anthony042 ? ') ;"><img border="0" src="http://data.dinocard.net/gfx/icons/menu_deco_hover.gif"></a></td>
                                <td><a href="/user/info?id=218384">anthony042</a></td>
                                <td> Lyricangelus </td>
                                <td> 14 juil. 07 </td>
                                <td>  </td>
                                <td class="extract">N'importe quoi de chez n'importe quoi...</td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
                <p>&nbsp;</p>
                <form method="get" action="/user/setBanInfos">
                    <input name="id" type="hidden" value="218384">
                    <textarea cols="50" name="txt" rows="6">N'importe quoi de chez n'importe quoi...</textarea>
                    <input type="submit" value="Modifier">
                </form>

                <h2>Anciens bans</h2>
                <div id="mailBox">
                    <div id="superTab">
                        <table>
                            <tbody><tr>
                                <th class="mailicon">unBan</th>
                                <th class="expediteur">Joueur</th>
                                <th class="expediteur">Banni par</th>
                                <th class="lastReply">Depuis le</th>
                                <th class="nbMessages">3 jours</th>
                                <th class="lastReply">Jusqu'au</th>
                                <th class="nbMessages">Infos</th>
                            </tr>

                            <tr class="odd">
                                <td>&nbsp;</td>
                                <td><a href="/user/info?id=156382">Yoni</a></td>
                                <td> Gilg248 </td>
                                <td> 27 avril 20 </td>
                                <td>  oui</td>
                                <td> 01 mai 20 </td>
                                <td class="extract">******</td>
                            </tr>

                            <tr class="even">
                                <td>&nbsp;</td>
                                <td><a href="/user/info?id=156382">Yoni</a></td>
                                <td> moly666 </td>
                                <td> 09 juin 11 </td>
                                <td>  </td>
                                <td> 09 juin 11 </td>
                                <td class="extract">******</td>
                            </tr>

                            </tbody></table>
                    </div>
                </div>
            </td>

            <td class="siderBox">
                <img alt="classement dinocard" src="http://data.dinocard.net/gfx/gui/artwork_friends.jpg">
            </td>
        </tr>
        </tbody></table>
{% endblock %}