{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
    {# Any extra JS for your page #}
{% endblock %}

{% block title %}
- {# Your Title #}
{% endblock %}

{% block content %}
    {# Async Notification system #}
    <div id="msg">
        <div class="borderBrown emc2">
            <div class="borderWhite">
                <p class="txt"><b>Vous venez d'acheter un nouveau booster. Vous en possédez maintenant 1.</b></p>
            </div>
        </div>
    </div>

    <h1>Acheter un booster </h1>

    <p>
        <strong>Cliquez sur un booster pour l'acheter.</strong> coût :
        <img class="icon" alt="icon token" src="http://data.dinocard.net/gfx/icons/icon_token.gif">
        x 10
    </p>

    <h2>Les portes d'Archélie</h2>
    <p>Ces boosters contiennent 8 cartes de l'extension <strong>Les portes d'Archélie</strong>.</p>
    <div id="boosterBuy">
        <a href="/user/buyBooster?face=4&amp;ed=2" class="booster" onclick="return confirm('Acheter ce booster ?');"><span class="booster24" onmouseout="this.className = 'booster24'" onmouseover="this.className='boosterHover24';"></span></a>
        <a href="/user/buyBooster?face=1&amp;ed=2" class="booster" onclick="return confirm('Acheter ce booster ?');"><span class="booster21" onmouseout="this.className = 'booster21'" onmouseover="this.className='boosterHover21';"></span></a>
        <a href="/user/buyBooster?face=5&amp;ed=2" class="booster" onclick="return confirm('Acheter ce booster ?');"><span class="booster25" onmouseout="this.className = 'booster25'" onmouseover="this.className='boosterHover25';"></span></a>
    </div>

    <h2>Première édition</h2>
    <p>Ces boosters contiennent 8 cartes de la <strong>première édition</strong>.</p>
    <div id="boosterBuy">
        <a href="/user/buyBooster?face=1&amp;ed=1" class="booster" onclick="return confirm('Acheter ce booster ?');"><span class="booster11" onmouseout="this.className = 'booster11'" onmouseover="this.className='boosterHover11';"></span></a>
        <a href="/user/buyBooster?face=5&amp;ed=1" class="booster" onclick="return confirm('Acheter ce booster ?');"><span class="booster15" onmouseout="this.className = 'booster15'" onmouseover="this.className='boosterHover15';"></span></a>
        <a href="/user/buyBooster?face=4&amp;ed=1" class="booster" onclick="return confirm('Acheter ce booster ?');"><span class="booster14" onmouseout="this.className = 'booster14'" onmouseover="this.className='boosterHover14';"></span></a>
    </div>
    <p>
        Chaque booster Dinocard contient 8 cartes :
        <img class="icon" alt="icon rare" src="http://data.dinocard.net/gfx/icons/icon_rare.gif">
        une carte <b>rare</b>, 2 <b>normales</b>
        <img class="icon" alt="icon uncommon" src="http://data.dinocard.net/gfx/icons/icon_uncommon.gif">
        et 5 <b>communes</b>
        <img class="icon" alt="icon common" src="http://data.dinocard.net/gfx/icons/icon_common.gif">
        .
    </p><br>
    <a href="/user/booster" class="button">Retour vers vos boosters</a>
{% endblock %}