{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
    {# Any extra JS for your page #}
{% endblock %}

{% block title %}
- {# Your Title #}
{% endblock %}

{% block content %}
        <h1>Vos nouvelles cartes </h1>
        <p>
            Bravo ! En ouvrant ce booster, vous découvrez les 8 nouvelles cartes ci-dessous ! Celles-ci ont été ajoutées à votre <a href="/card/viewAll">collection</a> et peuvent être échangées.
        </p>

        <div id="folderBox">
            <div id="boxContainer">
                <div id="cardCollection">
                    <div class="clickable" onclick="goToCard(287);">




                        <div class="card_Ciel">
                            <div class="cardTop">
                                <div class="cardName" id="name287">Arpenteur céleste</div>
                            </div>
                            <img class="cardImg" alt="" src="http://data.dinocard.net/gfx/card/artwork/287.jpg">
                            <div class="mana">
                                <img alt="rien" src="/gfx/card/nrj/rien.gif">

                                <img alt="air" src="/gfx/card/nrj/air.gif">

                            </div>
                            <div class="cardBody">

                                <div class="cardTxt">



                                    <p>


                                        <span class="capacities" onmouseover="showTip(this,'Vol', 'Le dinoz attaque directement le joueur adverse si son adversaire ne vole pas. Il reçoit par contre des dégats de son adversaire normalement. ');" onmouseout="hideTip()"><b>Vol</b></span>

                                    </p>


                                    <p>L'Arpenteur céleste ne subit pas de dégâts de la part des cartes bois.</p>

                                </div>
                                <div class="cardFlavor">

                                    <p>Il vole si haut qu'il est difficile de l'atteindre.</p>

                                </div>
                                <div class="CardType">

                                    2

                                </div>
                                <div class="cardDef">

                                    2

                                </div>
                                <div class="cardAtk">

                                    1

                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="clickable" onclick="goToCard(139);">
                        <div class="card_Feu">
                            <div class="cardTop">
                                <div class="cardName" id="name139">Vénérable vétéran</div>
                            </div>
                            <img class="cardImg" alt="" src="http://data.dinocard.net/gfx/card/artwork/139.jpg">
                            <div class="mana">
                                <img alt="rien" src="/gfx/card/nrj/rien.gif">

                                <img alt="feu" src="/gfx/card/nrj/feu.gif">

                            </div>
                            <div class="cardBody">

                                <div class="cardTxt">



                                    <p>


                                        <span class="capacities" onmouseover="showTip(this,'Tenace', 'Si le dinoz adverse est déjà détruit ou si ce dinoz l\'achève, les dégâts supplémentaires infligés sont reportés au joueur adverse. ');" onmouseout="hideTip()"><b>Tenace</b></span>

                                    </p>


                                </div>
                                <div class="cardFlavor">

                                    <p>Passé un certain âge la peau du moueffe se ramollit, mais l'esprit du guerrier et la soif de sieste restent intacts.</p>

                                </div>
                                <div class="CardType">

                                    3

                                </div>
                                <div class="cardDef">

                                    3

                                </div>
                                <div class="cardAtk">

                                    2

                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="clickable" onclick="goToCard(253);">




                        <div class="card_Foudre">
                            <div class="cardTop">
                                <div class="cardName" id="name253">Furetin</div>
                            </div>
                            <img class="cardImg" alt="" src="http://data.dinocard.net/gfx/card/artwork/253.jpg">
                            <div class="mana">
                                <img alt="rien" src="/gfx/card/nrj/rien.gif">

                                <img alt="foudre" src="/gfx/card/nrj/foudre.gif">

                            </div>
                            <div class="cardBody">

                                <div class="cardTxt">



                                    <p></p>


                                    <p>Si vous possédez plus d'une énergie le Furetin gagne un point de force. Si vous possédez plus de 3 énergies le Furetin gagne l'initiative.</p>

                                </div>
                                <div class="cardFlavor">

                                </div>
                                <div class="CardType">

                                    2

                                </div>
                                <div class="cardDef">

                                    2

                                </div>
                                <div class="cardAtk">

                                    1

                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="clickable" onclick="goToCard(330);">




                        <div class="card_spell_Ciel">
                            <div class="cardTop">
                                <div class="cardName" id="name330">Vortex de mana</div>
                            </div>
                            <img class="cardImg" alt="" src="http://data.dinocard.net/gfx/card/artwork/330.jpg">
                            <div class="mana">
                                <img alt="rien" src="/gfx/card/nrj/rien.gif">

                                <img alt="neutre" src="/gfx/card/nrj/neutre.gif">

                                <img alt="air" src="/gfx/card/nrj/air.gif">

                            </div>
                            <div class="cardBody">

                                <div class="cardTxt">



                                    <p></p>


                                    <p>Détruisez deux énergies de la réserve adverse choisies au hasard. Détruit également une de vos énergies.</p>

                                </div>
                                <div class="cardFlavor">

                                </div>
                                <div class="CardType">


                                    <img class="icon" alt="icon spell" src="http://data.dinocard.net/gfx/icons/icon_small_spell.gif">


                                </div>
                                <div class="cardDef">



                                </div>
                                <div class="cardAtk">



                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="clickable" onclick="goToCard(313);">




                        <div class="card_spell_Ciel">
                            <div class="cardTop">
                                <div class="cardName" id="name313">Manteau d'ombre</div>
                            </div>
                            <img class="cardImg" alt="" src="http://data.dinocard.net/gfx/card/artwork/313.jpg">
                            <div class="mana">
                                <img alt="rien" src="/gfx/card/nrj/rien.gif">

                                <img alt="neutre" src="/gfx/card/nrj/neutre.gif">

                                <img alt="neutre" src="/gfx/card/nrj/neutre.gif">

                                <img alt="neutre" src="/gfx/card/nrj/neutre.gif">

                                <img alt="air" src="/gfx/card/nrj/air.gif">

                            </div>
                            <div class="cardBody">

                                <div class="cardTxt">



                                    <p></p>


                                    <p>Tous vos dinoz gagnent 1 point de force.</p>

                                </div>
                                <div class="cardFlavor">

                                </div>
                                <div class="CardType">


                                    <img class="icon" alt="icon object" src="http://data.dinocard.net/gfx/icons/icon_small_object.gif">


                                </div>
                                <div class="cardDef">



                                </div>
                                <div class="cardAtk">



                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="clickable" onclick="goToCard(267);">
                        <div class="card_Foudre">
                            <div class="cardTop">
                                <div class="cardName" id="name267">Ultensim</div>
                            </div>
                            <img class="cardImg" alt="" src="http://data.dinocard.net/gfx/card/artwork/267.jpg">
                            <div class="mana">
                                <img alt="rien" src="/gfx/card/nrj/rien.gif">

                                <img alt="foudre" src="/gfx/card/nrj/foudre.gif">

                                <img alt="foudre" src="/gfx/card/nrj/foudre.gif">

                            </div>
                            <div class="cardBody">

                                <div class="cardTxt">



                                    <p></p>


                                    <p>Au début de votre tour, l'Ultensim inflige 2 blessures à l'adversaire.
                                    </p>

                                </div>
                                <div class="cardFlavor">

                                    <p>Malgré son air débonnaire, il vaut mieux le considérer comme un adversaire non négligeable.</p>

                                </div>
                                <div class="CardType">

                                    3

                                </div>
                                <div class="cardDef">

                                    3

                                </div>
                                <div class="cardAtk">

                                    0

                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="clickable" onclick="goToCard(274);">




                        <div class="card_spell_Foudre">
                            <div class="cardTop">
                                <div class="cardName" id="name274">Réanimation</div>
                            </div>
                            <img class="cardImg" alt="" src="http://data.dinocard.net/gfx/card/artwork/274.jpg">
                            <div class="mana">
                                <img alt="rien" src="/gfx/card/nrj/rien.gif">

                                <img alt="neutre" src="/gfx/card/nrj/neutre.gif">

                                <img alt="neutre" src="/gfx/card/nrj/neutre.gif">

                                <img alt="neutre" src="/gfx/card/nrj/neutre.gif">

                                <img alt="foudre" src="/gfx/card/nrj/foudre.gif">

                            </div>
                            <div class="cardBody">

                                <div class="cardTxt">



                                    <p>


                                        <span class="capacities" onmouseover="showTip(this,'Arc', 'Une fois le sort lancé, sacrifiez une énergie de votre réserve de la couleur de la carte.');" onmouseout="hideTip()"><b>Arc</b></span>

                                    </p>


                                    <p>Invoquez le dinoz ciblé le moins endurant présent dans votre cimetière.</p>

                                </div>
                                <div class="cardFlavor">

                                </div>
                                <div class="CardType">


                                    <img class="icon" alt="icon spell" src="http://data.dinocard.net/gfx/icons/icon_small_spell.gif">


                                </div>
                                <div class="cardDef">



                                </div>
                                <div class="cardAtk">



                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="clickable" onclick="goToCard(276);">




                        <div class="card_spell_Foudre">
                            <div class="cardTop">
                                <div class="cardName" id="name276">Totem fugace d'Octoboon</div>
                            </div>
                            <img class="cardImg" alt="" src="http://data.dinocard.net/gfx/card/artwork/276.jpg">
                            <div class="mana">
                                <img alt="rien" src="/gfx/card/nrj/rien.gif">

                                <img alt="neutre" src="/gfx/card/nrj/neutre.gif">

                                <img alt="foudre" src="/gfx/card/nrj/foudre.gif">

                            </div>
                            <div class="cardBody">

                                <div class="cardTxt">



                                    <p></p>


                                    <p>Tous vos dinoz gagnent la capacité Initiative.</p>

                                </div>
                                <div class="cardFlavor">

                                </div>
                                <div class="CardType">


                                    <img class="icon" alt="icon object" src="http://data.dinocard.net/gfx/icons/icon_small_object.gif">


                                </div>
                                <div class="cardDef">



                                </div>
                                <div class="cardAtk">



                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        <p>&nbsp;</p>
        <a href="/user/booster" class="button">Retour</a>
    </td>
{% endblock %}