{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
    {# Any extra JS for your page #}
{% endblock %}

{% block title %}
- EXCHANGES
{% endblock %}

{% block content %}
    <h1>Echanges</h1>
    <div id="exchanges">
        <p class="txt">
            Cette rubrique donne accès à vos échanges en cours. Vous pouvez aussi proposer de nouveaux échanges à vos amis dans la liste à droite, ou encore <a href="/friend">chercher un joueur</a> pour faire
            des échanges. <br>
            N'oubliez pas que seules les cartes obtenues dans des boosters peuvent être échangées.
            <a href="/rules#exchanges" class="helpBox" onmouseover="showTip(this,'Echanges', 'Cliquez pour davantage d\'explications sur les échanges de cartes.');" onmouseout="hideTip()"><span>aide</span></a>
        </p>

        <!-- /* coding: utf-8 */ -->
        <div name="filter" id="filter">
        <form name="ffilter" id="ffilter" method="get" action="/exchange">
            <input name="if" type="hidden" id="if" value="y">
            <input name="u" type="hidden" id="u" value="null">
            <div style="padding: 3px;">
                Filtrer par état : &nbsp;
                <select name="s" onchange="this.form.submit();" id="s">
                    <option value="a">tous</option>
                    <option selected="selected" value="c">en cours</option>
                    <option value="v">validés</option>
                    <option value="d">annulés</option>
                </select>
            </div>
        </form>
        </div>
    </div>
{% endblock %}

{% block sideBox %}
    <div id="rightMenu">
        <div class="borderBrown">
            <div class="borderWhite">
                <h2>Echanges</h2>

                <ul style="font-size : 13px;line-height : 24px;">
                    <li>
                        <img class="icon" alt="icon attente" src="http://data.dinocard.net/gfx/icons/exchange_attente.gif" onmouseover="showTip(this,'Echange', 'Etat : attente');" onmouseout="hideTip()">
                        <a href="/exchange/info?id=234640"> Moonmangler</a>
                    </li>
                    <li>
                        <img class="icon" alt="icon attente" src="http://data.dinocard.net/gfx/icons/exchange_attente.gif" onmouseover="showTip(this,'Echange', 'Etat : attente');" onmouseout="hideTip()">
                        <a href="/exchange/info?id=227321"> fritklug</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="borderBrown emc2">
            <div class="borderWhite emc2">
                <h2>
                    <a href="/friend">Mes amis</a>
                </h2>

                <dl id="friendList">
                    <dt onclick="javascript:showUserMenu(0,40);"> Bason</dt>
                    <dd id="friendMenu0" style="display : none;">
                        <a href="/user/info?id=7117"><img class="icon" alt="info friend dinocard" src="http://data.dinocard.net/gfx/icons/friend_info.gif" onmouseover="showTip(this,'Mes amis', 'pour en savoir plus sur <b>Bason</b>.');" onmouseout="hideTip()"></a>

                        <a href="/mail/view?id=7117" onmouseover="showTip(this,'Message privé', 'Envoyer un nouveau message privé.');" onmouseout="hideTip()"><img class="icon" alt="icon mail" src="http://data.dinocard.net/gfx/icons/mail.gif"></a>

                        <a href="/exchange/view?u=7117" onmouseover="showTip(this,'Echanges', 'Voir les échanges déjà effectués avec ce joueur.');" onmouseout="hideTip()"><img class="icon" alt="icon exchange" src="http://data.dinocard.net/gfx/icons/exchange_current.gif"></a>

                        <a href="/exchange/new?id=7117" onmouseover="showTip(this,'Echanges', 'Initier un nouvel échange avec Bason.');" onmouseout="hideTip()"><img class="icon" alt="icon exchange" src="http://data.dinocard.net/gfx/icons/exchange.gif"></a>

                        <a href="/friend/delete?id=7117" onmouseover="showTip(this,'Mes amis', 'Retirer de votre liste d\'amis ?');" onmouseout="hideTip()"><img class="icon" alt="delete friend dinocard" src="http://data.dinocard.net/gfx/icons/friend_del.gif"></a>
                    </dd>

                    <dt onclick="javascript:showUserMenu(1,40);"> gblober</dt>
                    <dd id="friendMenu1" style="display : none;">
                        <a href="/user/info?id=7492"><img class="icon" alt="info friend dinocard" src="http://data.dinocard.net/gfx/icons/friend_info.gif" onmouseover="showTip(this,'Mes amis', 'pour en savoir plus sur <b>gblober</b>.');" onmouseout="hideTip()"></a>

                        <a href="/mail/view?id=7492" onmouseover="showTip(this,'Message privé', 'Envoyer un nouveau message privé.');" onmouseout="hideTip()"><img class="icon" alt="icon mail" src="http://data.dinocard.net/gfx/icons/mail.gif"></a>

                        <a href="/exchange/view?u=7492" onmouseover="showTip(this,'Echanges', 'Voir les échanges déjà effectués avec ce joueur.');" onmouseout="hideTip()"><img class="icon" alt="icon exchange" src="http://data.dinocard.net/gfx/icons/exchange_current.gif"></a>

                        <a href="/exchange/new?id=7492" onmouseover="showTip(this,'Echanges', 'Initier un nouvel échange avec gblober.');" onmouseout="hideTip()"><img class="icon" alt="icon exchange" src="http://data.dinocard.net/gfx/icons/exchange.gif"></a>

                        <a href="/friend/delete?id=7492" onmouseover="showTip(this,'Mes amis', 'Retirer de votre liste d\'amis ?');" onmouseout="hideTip()"><img class="icon" alt="delete friend dinocard" src="http://data.dinocard.net/gfx/icons/friend_del.gif"></a>
                    </dd>
                </dl>

                <div class="clear"></div>
                <a href="/friend" class="button">Chercher un joueur</a>
                <a href="/mail/multi" class="button">Envoi groupé</a>
            </div>
        </div>
    </div>
{% endblock %}