{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
    {# Any extra JS for your page #}
{% endblock %}

{% block title %}
- {# Your Title #}
{% endblock %}

{% block content %}
    <div id="fauxrhum">

        <h1><a href="/forum">Forum</a> &gt; Recherche</h1>

        <form method="get" action="/forum/fSearch">
            <input name="submit" type="hidden" value="1">
            <input class="field" name="search" type="text" value="">
            <input class="button" type="submit" value="Rechercher">
        </form>

        <h3>Aide</h3>

        <p>Cette page vous permet de rechercher des messages dans le forum.</p>
        <p>Vous pouvez affiner votre recherche en utilisant les signes + et - devant chaque mot de votre recherche.</p>

        <h3>Quelques exemples:</h3>

        <p class="infotxt"><b>ciel</b></p>
        <p>rechercher tous les messages traitant de ciel</p>

        <p class="infotxt"><b>ciel dinoz</b></p>
        <p>rechercher tous les messages traitant de ciel OU de dinoz</p>

        <p class="infotxt"><b>+foudre +enchantement</b></p>
        <p>rechercher tous les messages traitant de foudre ET d'enchantement</p>

        <p class="infotxt"><b>bois -objet</b></p>
        <p>rechercher tous les messages traitant de bois MAIS PAS d'objet.</p>

        <p class="infotxt"><b>+échange +"j'en fais plein"</b></p>
        <p>rechercher tous les messages traitant d'échange et contenant texto "j'en fais plein"</p>
    </div>
{% endblock %}