{# This means your page inherit from an existing template, it will already contains some html and allow to override what's inside the "blocks" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Any extra CSS for your page #}
{% endblock %}

{% block javascripts %}
    {# Any extra JS for your page #}
{% endblock %}

{% block title %}
- {# Your Title #}
{% endblock %}

{% block content %}
    <div id="fauxRhum">

        <h1 class="emc2">Forum : liste des thèmes</h1>

        <ul class="actionbar">
            <li><a href="/forum/fSearch">Rechercher</a></li>
            <li><a href="/forum/fReadAll">Marquer tout comme lu</a></li>
        </ul>

        <dl>

            <dt><a href="/forum/fTheme?id=12"><div class="nullnull"></div>Premier pas</a></dt>
            <dd><div class="borderWhite">Vous débutez ? Ce forum est pour vous ! </div></dd>

            <dt><a href="/forum/fTheme?id=3"><div class="nullnull"></div>Aide</a></dt>
            <dd><div class="borderWhite">Une question à poser sur le jeu ? C'est par ici.</div></dd>

            <dt><a href="/forum/fTheme?id=4"><div class="nullnull"></div>Stratégies</a></dt>
            <dd><div class="borderWhite">Pour discuter de vos stratégies ultimes</div></dd>

            <dt><a href="/forum/fTheme?id=5"><div class="nullnull"></div>Cartes</a></dt>
            <dd><div class="borderWhite">Les cartes, leurs forces, leurs faiblesses, leurs illustrations et toutes ces sortes de choses.</div></dd>

            <dt><a href="/forum/fTheme?id=6"><div class="nullnull"></div>Echanges</a></dt>
            <dd><div class="borderWhite">Bon, mais contre tout ça tu me proposes quoi finalement ? </div></dd>

            <dt><a href="/forum/fTheme?id=9"><div class="nullnull"></div>Tournois</a></dt>
            <dd><div class="borderWhite">Organisation des tournois entre joueurs</div></dd>

            <dt><a href="/forum/fTheme?id=7"><div class="nullnull"></div>Discussion générale</a></dt>
            <dd><div class="borderWhite">Pour tout ce qui n'a rien à voir avec Dinocard</div></dd>

            <dt><a href="/forum/fTheme?id=8"><div class="nullnull"></div>Le coin des modérateurs</a></dt>
            <dd><div class="borderWhite">Espace réservé :)</div></dd>

            <dt><a href="/forum/fTheme?id=2"><div class="nullnull"></div>La poubelle</a></dt>
            <dd><div class="borderWhite">Le depotoir des posts moisis</div></dd>

            <dt><a href="/forum/fTheme?id=10"><div class="nullnull"></div>Beta-Test</a></dt>
            <dd><div class="borderWhite">tests en cours, ne pas deranger</div></dd>

            <dt><a href="/forum/fTheme?id=11"><div class="nullnull"></div>Archives</a></dt>
            <dd><div class="borderWhite">Un peu de rangement</div></dd>

        </dl>
    </div>
{% endblock %}