<td id="center">
  <div id="msg">

  </div>

  <script type="text/javascript">
    //<![CDATA[
    function toggleDisplay(id){
      var div = document.getElementById(id);
      if (div == null)
        return false;
      if (div.style.display == "none")
        div.style.display = "block";
      else
        div.style.display = "none";
      return false;
    }
    //]]>
  </script>

  <h1>Parrainage</h1>

  <div id="folderBox">
    <ul class="folders">
      <li class="active" id="folder1">Parrainage</li>
      <li class="disable" id="folder2"><a href="/user/sponsoring?type=c">Mes filleuls</a></li>
    </ul>
  </div>

  <h2>Pourquoi parrainer ?</h2>

  <p class="txt">
    Faites découvrir Dinocard à vos amis ! En devenant
    parrain, à chaque fois que l'un de vos filleuls achète des tokens
    sur Dinocard, vous recevez <b>20% de son achat en tokens</b>.
  </p>

  <h2>Comment parrainer ?</h2>

  <p class="txt">
    La méthode la plus simple consiste à demander aux
    personnes à qui vous conseillez Dinocard d'indiquer votre pseudo
    (<em>Gilg248</em>) dans la case "Parrain" lors de leur
    inscription.
  </p>

  <h2>Lien de parrainage</h2>

  <p class="txt">
    Si vous souhaitez mettre un lien vers Dinocard, vous pouvez aussi
    utiliser l'adresse ci-dessous.
  </p>
  <p class="txt">
    Les personnes qui s'inscriront en
    ayant suivi ce lien deviendront automatiquement vos filleuls.
  </p>

  <div class="centerTextArea">
    <pre class="sponsorTextArea">http://www.dinocard.net/?ref=Gilg248</pre>

  </div>

  <h2>Bannières</h2>
  <p>
    Vous pouvez utiliser la bannière de 468x60 pixels. Copiez-collez le code suivant dans vos pages HTML :
  </p>

  <div class="centerTextArea">
		<pre class="sponsorTextArea">&lt;script src="http://www.dinocard.net/pub?l=fr&amp;s=468x60&amp;ref=Gilg248"
type="text/javascript" &gt;&lt;/script&gt;</pre>
  </div>

  <p>
    Pour obtenir <a href="#" onclick="return toggleDisplay('anim1');">l'animation suivante</a> :
  </p>
  <div id="anim1" style="display:visible;">
    <center>
      <object width="468" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" height="60" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"><param name="FlashVars" value="url=http://dev.dinocard/?ref=irvie"><param name="movie" value="http://pub.motion-twin.com/dinocard/fr/468x60.swf"><param name="menu" value="false"><param name="quality" value="high"><embed quality="high" menu="false" width="468" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://pub.motion-twin.com/dinocard/fr/468x60.swf" height="60" flashvars="url=http://dev.dinocard/?ref=Gilg248"></object>
    </center>
  </div>

  <h2>bannière verticale</h2>

  <p>
    Pour la bannière de 120x240 pixels, copiez-collez le code suivant dans vos pages HTML :
  </p>

  <div class="centerTextArea">
		<pre class="sponsorTextArea">&lt;script src="http://www.dinocard.net/pub?l=fr&amp;s=120x240&amp;ref=Gilg248"
type="text/javascript" &gt;&lt;/script&gt;</pre>

  </div>

  <p>
    Pour obtenir <a href="#" onclick="return toggleDisplay('anim2');">l'animation suivante</a> :
  </p>
  <div id="anim2" style="display:none;">
    <center>
      <object width="120" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" height="240" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"><param name="FlashVars" value="url=http://dev.dinocard/?ref=irvie"><param name="movie" value="http://pub.motion-twin.com/dinocard/fr/120x240.swf"><param name="menu" value="false"><param name="quality" value="high"><embed quality="high" menu="false" width="120" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://pub.motion-twin.com/dinocard/fr/120x240.swf" height="240" flashvars="url=http://dev.dinocard/?ref=Gilg248"></object>
    </center>
  </div>


  <h2>Bigbox</h2>
  <p>
    Vous pouvez utiliser une boîte de 230x200 pixels. Copiez-collez le code suivant dans vos pages HTML :
  </p>

  <div class="centerTextArea">
		<pre class="sponsorTextArea">&lt;script src="http://www.dinocard.net/pub?l=fr&amp;s=230x200&amp;ref=Gilg248"
type="text/javascript" &gt;&lt;/script&gt;</pre>

  </div>

  <p>
    Pour obtenir <a href="#" onclick="return toggleDisplay('anim3');">l'animation suivante</a> :
  </p>
  <div id="anim3" style="display:none;">
    <center>
      <object width="230" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" height="200" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"><param name="FlashVars" value="url=http://dev.dinocard/?ref=irvie"><param name="movie" value="http://pub.motion-twin.com/dinocard/fr/120x90.swf"><param name="menu" value="false"><param name="quality" value="high"><embed quality="high" menu="false" width="230" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://pub.motion-twin.com/dinocard/fr/230x200.swf" height="200" flashvars="url=http://dev.dinocard/?ref=Gilg248"></object>
    </center>
  </div>

  <h2>Minibox</h2>
  <p>
    Vous pouvez utiliser une boîte de 120x60 pixels. Copiez-collez le code suivant dans vos pages HTML :
  </p>

  <div class="centerTextArea">
		<pre class="sponsorTextArea">&lt;script src="http://www.dinocard.net/pub?l=fr&amp;s=120x60&amp;ref=Gilg248"
type="text/javascript" &gt;&lt;/script&gt;</pre>

  </div>

  <p>
    Pour obtenir <a href="#" onclick="return toggleDisplay('anim4');">l'animation suivante</a> :
  </p>

  <div id="anim4" style="display:none;">
    <center>
      <object width="120" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" height="60" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"><param name="FlashVars" value="url=http://dev.dinocard/?ref=irvie"><param name="movie" value="http://pub.motion-twin.com/dinocard/fr/120x90.swf"><param name="menu" value="false"><param name="quality" value="high"><embed quality="high" menu="false" width="120" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://pub.motion-twin.com/dinocard/fr/120x90.swf" height="90" flashvars="url=http://dev.dinocard/?ref=Gilg248"></object>
    </center>
  </div>
</td>