{# Component to add on top of the user page if the current user has the MODERATOR ROLE ! #}

{# Account OK #}

<div id="modoInfo">
    <div class="borderBrown">
        <div class="borderWhite">
            <h3>Outils modérateurs</h3>
            <form id="fban" method="get" action="/user/banHim">
                <input name="id" type="hidden" value="239692">
                <input name="t" type="hidden" id="t" value="">
                <input name="banMessage" width="70" type="text">
                <a href="javascript:document.getElementById('fban').submit();" class="button">Bannir</a>&nbsp;
                <a href="javascript:document.getElementById('t').value=1; document.getElementById('fban').submit();" class="button">Bannir 3 jours</a>
                <a href="/user/banHistory?id=239692" class="button">Historique bans</a>
                <a href="/forum/fUserPosts?id=239692" class="button">messages forum</a>
            </form>
            <p>&nbsp;</p>
            <p>
                nombres de cartes : <b>17476</b> (échangables : <b>17430</b>)
                <i>Aucun avertissement mp</i>
            </p>
        </div>
    </div>
</div>

{# Account banned #}

<div id="modoInfo">
    <div class="borderBrown">
        <div class="borderWhite">
            <h3>Outils modérateurs</h3>
            <form id="fban" method="get" action="/user/banHim">
                <a href="/user/unbanHim?id=175378" class="button">Débannir</a>
                <a href="/user/banHistory?id=175378" class="button">Historique bans</a>
                <a href="/forum/fUserPosts?id=175378" class="button">messages forum</a>
            </form>
            <p>&nbsp;</p>
            <p>
                nombres de cartes : <b>46</b> (échangables : <b>0</b>)
                <i>Aucun avertissement mp</i>
            </p>
        </div>
    </div>
</div>