{# Templates/base.html.twig #}
{# BaseSkeletton of all pages #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="tid_js tid_no-touch tid_draganddrop tid_websockets">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>DinoCard {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-language" content="fr">
        <meta name="Author" content="Motion Twin">
        <meta name="Subject" content=" ">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="robots" content="all">
        <meta name="Copyright" content="Copyright © 2006 Motion twin">
        <meta name="Distribution" content="Global">
        <meta name="Revisit-after" content="7 days">
        <link href="{{ asset('favicon.ico') }}" rel="SHORTCUT ICON">

        <script type="text/javascript" src="{{ asset('js/tooltips.js') }}"></script>
        <meta name="description" content={% block metaDescription %}"Venez découvrir Dinocard, le jeu de cartes favoris des Dinolandiens"{% endblock %} />
        <meta name="language" content="" />

        <link rel="stylesheet" type="text/css" href="{{ asset('css/design.css') }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
    <div id="cachecache">
        <img alt="" src="{{ asset('img/gfx/card/Bois_cardTemplate.gif') }}">
        <img alt="" src="{{ asset('img/gfx/card/Ciel_cardTemplate.gif') }}">
        <img alt="" src="{{ asset('img/gfx/card/Eau_cardTemplate.gif') }}">
        <img alt="" src="{{ asset('img/gfx/card/Feu_cardTemplate.gif') }}">
        <img alt="" src="{{ asset('img/gfx/card/Foudre_cardTemplate.gif') }}">

        <img alt="" src="{{ asset('img/gfx/card/Bois_spell_cardTemplate.gif') }}">
        <img alt="" src="{{ asset('img/gfx/card/Ciel_spell_cardTemplate.gif') }}">
        <img alt="" src="{{ asset('img/gfx/card/Eau_spell_cardTemplate.gif') }}">
        <img alt="" src="{{ asset('img/gfx/card/Feu_spell_cardTemplate.gif') }}">
        <img alt="" src="{{ asset('img/gfx/card/Foudre_spell_cardTemplate.gif') }}">
    </div>

    <div id="wallpaper">
        <div class="dynamicTipCategoryHere" id="tooltip">
            <div class="borderWhite">
                <div class="content">
                    <div class="header">
                        <div id="tooltipContent"></div>
                    </div>
                </div>
                <div class="footer"></div>
            </div>
        </div>

        <div id="header">
            <h1>DinoCard </h1>
        </div>

        {% include "Components/navbar.html.twig" %}

        <div id="container">
            <!-- Sorry for the tab mates, IE wanna kill my GUI -->
            <table id="content">
                <tbody>
                <tr>
                    <td id="leftmenu">
                        {% include 'Components/leftMenu.html.twig' %}
                    </td>
                    <td id="center">
                        {% block content %}
                        {% endblock %}
                    </td>
                </tr>
                </tbody>
            </table>
            <!--end Content -->
        </div>
        <div id="this_is_the_end">
            {#
            <p> <a href="/rules">Aide</a> <a href="/user/support">Support technique</a> <a href="/user/forgetPassword">Oubli de mot de passe</a> <a href="http://support.motion-twin.com/go/cgu?s=dcard">Règlement</a> - ©2006 Motion-Twin · Tous droits réservés.</p>
            #}
        </div>
    </div>

    {% include "Components/footer.html.twig" %}

    </body>
</html>



