{% extends 'base.html.twig' %}

{% trans_default_domain 'Common' %}

{% block content %}
    <div id="msg">
    </div>

    <h1 class="emc2">{{ 'index.header' | trans }}</h1>
    <br>
    <div class="subscribTXT">
        <img class="leftImg" alt="inscription dinocard" src="{{ asset('img/gfx/gui/signup_cargou.jpg') }}">
        <p>
            &nbsp
        </p>
        <p>
            {{ 'index.explanation.block1.line1' | trans | raw }}
        </p>
        <p>
            {{ 'index.explanation.block1.line2' | trans | raw }}
        </p>
        <p>
            {{ 'index.explanation.block1.line3' | trans | raw }}
        </p>
        <p>
            {{ 'index.explanation.block1.line4' | trans | raw }}
        </p>
    </div>

    <div class="clear"></div>

    <div class="subscribTXT">
        <img class="rightImg" alt="inscription dinocard" src="{{ asset('img/gfx/gui/index_perso.jpg') }}">
        <p>
            Pour information, ce site est en cours de reconstruction au sein du projet <b>EternalTwin</b>
        </p>
        <p>
            Si vous rencontrez un souci ou pour tout retour, n'hésitez pas à le remonter sur notre discord <a href="https://discord.gg/ERc3svy">https://discord.gg/ERc3svy</a>.
        </p>
        <p>
            La communauté a voté et a décidé de nommer le jeu "Dinocard Rebirth". Merci à tous pour votre participation et à bientôt !
        </p>
    </div>

    {# TODO Have a proper eternaltwin link register (local or prod) #}
    {#
    <div class="subscribTXT">
        <img class="rightImg" alt="inscription dinocard" src="{{ asset('img/gfx/gui/index_perso.jpg') }}">
        <p>
            {{ 'index.explanation.block2.line1' | trans | raw }}
        </p>
        <p>
            {{ 'index.explanation.block2.line2' | trans | raw }}
        </p>
        {% if features.etwin == 1 %}
        <br>
        <center>
            <a href="{{ oauth_service.getAuthorizationUri('base', app.request.uri) }}"><img alt="inscription dinocard" src="{{ asset('img/gfx/icons/inscription.gif')}}"></a>
        </center>
        {% endif %}
    </div>
    #}

{% endblock %}