<div id="filter">
    <dl class="typeFilter">
        <dt>Type </dt>
        <dd>
            <input name="dinoz" type="hidden" id="Dinoz">
            <a href="javascript:toggleTypeFilter('Dinoz');" class="buttonDinoz1" id="aDinoz" title="Cartes dinoz">
                <span>dinoz</span>
            </a>

            <input name="spell" type="hidden" id="Spell">
            <a href="javascript:toggleTypeFilter('Spell');" class="buttonSpell1" id="aSpell" title="Cartes incantations">
                <span>spell</span>
            </a>

            <input name="charm" type="hidden" id="Charm">
            <a href="javascript:toggleTypeFilter('Charm');" class="buttonCharm1" id="aCharm" title="Cartes enchantements">
                <span>charm</span>
            </a>

            <input name="object" type="hidden" id="Object">
            <a href="javascript:toggleTypeFilter('Object');" class="buttonObject1" id="aObject" title="Cartes objets magiques">
                <span>object</span>
            </a>
        </dd>
    </dl>

    <dl class="typeElement">
        <dt>Elément </dt>
        <dd>
            <input name="fire" type="hidden" id="Fire">
            <a href="javascript:toggleElementFilter('Fire');" class="buttonFire1" id="aFire" title="Cartes feu"><span>fire</span></a>

            <input name="water" type="hidden" id="Water">
            <a href="javascript:toggleElementFilter('Water');" class="buttonWater1" id="aWater" title="Cartes eau"><span>water</span></a>

            <input name="wood" type="hidden" id="Wood">
            <a href="javascript:toggleElementFilter('Wood'); " class="buttonWood1" id="aWood" title="Cartes bois"><span>wood</span></a>

            <input name="thunder" type="hidden" id="Thunder">
            <a href="javascript:toggleElementFilter('Thunder'); " class="buttonThunder1" id="aThunder" title="Cartes foudre"><span>thunder</span></a>

            <input name="sky" type="hidden" id="Air">
            <a href="javascript:toggleElementFilter('Air');" class="buttonAir1" id="aAir" title="Cartes ciel"><span>sky</span></a>
        </dd>
    </dl>

    <dl class="typeRarete">
        <dt>Rareté </dt>
        <dd>
            <input name="common" type="hidden" id="Common">
            <a href="javascript:toggleRarityFilter('Common'); " class="buttonCommon1" id="aCommon" title="Cartes communes"><span>common</span></a>

            <input name="unco" type="hidden" id="Uncommon">
            <a href="javascript:toggleRarityFilter('Uncommon');" class="buttonUncommon1" id="aUncommon" title="Cartes inhabituelles"><span>unco</span></a>

            <input name="rare" type="hidden" id="Rare">
            <a href="javascript:toggleRarityFilter('Rare');" class="buttonRare1" id="aRare" title="Cartes rares"><span>rare</span></a>
        </dd>
    </dl>

    {# TODO Edition filter
    <dl class="typeEdition">
        <dt>Edition</dt>
        <dd>
            <select name="ed" id="ed">
                <option selected="selected" value="a">toutes</option>
                <option value="1">Première édition</option>
                <option value="2">Les portes d'Archélie</option>
            </select>
        </dd>
    </dl>
    #}

    {# Searchbar
    <dl class="typeSearch">
        <dt>Recherche </dt>
        <dd><input name="search" type="text" onclick="this.form.bc.value = document.getElementById('temp').innerHTML ;" id="search" value=""></dd>
    </dl>
    #}
    <dl class="filterButton">
        <dt>&nbsp; </dt>
        <dd>
            <a href="javascript:resetAllFilters();" class="button"
               onmouseover="showTip(this, 'Reset', 'Remise à zéro des filtres.<br />Affiche à nouveau toutes vos cartes disponibles.');"
               onmouseout="hideTip()">
                Reset
            </a>
        </dd>
    </dl>
</div>